Repository statsmodels/statsmodels, pull requests merged in 2018-10, with the labels that each got.

#5295 TST: Added random seed to test_gee and verifed working
  statsmodels/genmod/tests/test_gee.py
Labels: comp-genmod, type-test

#5300 DOC fix docstring in stattools.py
  statsmodels/tsa/stattools.py
Labels: comp-docs, comp-tsa

#5324 ENH: analytic version of arma_acovf
  statsmodels/tsa/arima_process.py
  statsmodels/tsa/tests/results/results_arma_acf.py
  statsmodels/tsa/tests/results/test_arma_acf.R
  statsmodels/tsa/tests/test_arima_process.py
Labels: comp-tsa, type-enh

#5325 BUG/TST: Fix innovations_filter, add test vs Kalman filter
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-bug-wrong
