Repository statsmodels/statsmodels, pull requests merged in 2018-09, with the labels that each got.

#5016 ENH: Burgs algorithm
  statsmodels/regression/linear_model.py
  statsmodels/regression/tests/test_regression.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-enh

#4842 CLN: Flake8 fixups and linting for statespace files (but not tests)
  lint.sh
  statsmodels/tsa/statespace/_pykalman_smoother.py
  statsmodels/tsa/statespace/api.py
  statsmodels/tsa/statespace/initialization.py
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/structural.py
  statsmodels/tsa/statespace/tools.py
  statsmodels/tsa/statespace/varmax.py
Labels: comp-tsa, type-cleanup

#5015 [MAINT] move misplaced test_tsa_indexes
  lint.sh
  statsmodels/tsa/base/tests/test_base.py
  statsmodels/tsa/base/tests/test_datetools.py
  statsmodels/tsa/base/tests/test_tsa_indexes.py
Labels: comp-tsa, type-cleanup, type-test

#5040 MAINT: clean up x13.py, delete main
  statsmodels/tsa/x13.py
Labels: comp-tsa, type-cleanup

#4910 CLN: Blank Lines E301,E302,E303,E305,E306 in examples, tools, sm.base
  examples/incomplete/wls_extended.py
  examples/python/contrasts.py
  examples/python/formulas.py
  examples/python/glm_formula.py
  examples/python/quantile_regression.py
  statsmodels/base/_constraints.py
  statsmodels/base/_penalized.py
  statsmodels/base/_penalties.py
  statsmodels/base/_screening.py
  statsmodels/base/data.py
  statsmodels/base/elastic_net.py
  statsmodels/base/l1_solvers_common.py
  statsmodels/base/optimizer.py
  statsmodels/base/tests/test_data.py
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/base/tests/test_optimize.py
  statsmodels/base/tests/test_penalized.py
  statsmodels/base/tests/test_penalties.py
  statsmodels/base/tests/test_predict.py
  statsmodels/base/tests/test_screening.py
  statsmodels/base/tests/test_shrink_pickle.py
  statsmodels/base/wrapper.py
  tools/backport_pr.py
  tools/code_maintenance.py
  tools/cythonize.py
  tools/examples_rst.py
  tools/generate_formula_api.py
  tools/gh_api.py
  tools/github_stats.py
  tools/hash_funcs.py
  tools/update_web.py
Labels: type-cleanup

#5020 MAINT: fix incorrect docstring summary-->summary2
  statsmodels/discrete/discrete_model.py
Labels: type-cleanup

#5079 MAINT: linting statespace tests
  statsmodels/tsa/statespace/tests/test_simulation_smoothing.py
  statsmodels/tsa/statespace/tests/test_smoothing.py
  statsmodels/tsa/statespace/tests/test_structural.py
  statsmodels/tsa/statespace/tests/test_tools.py
Labels: comp-tsa, type-cleanup

#4871 BLD: Refactor Setup
  .codacy.yml
  .gitattributes
  .travis_coveragerc
  MANIFEST.in
  docs/source/conf.py
  lint.sh
  pyproject.toml
  setup.cfg
  setup.py
  statsmodels/__init__.py
  statsmodels/_version.py
  statsmodels/api.py
  statsmodels/tools/print_version.py
  statsmodels/tools/web.py
  versioneer.py
Labels: build, prio-high

#5149 TST: Theil test randomseed
  statsmodels/regression/tests/test_theil.py
Labels: comp-regression, type-test

#4949 BUG: Set default lags for acf/pacf plots
  lint.sh
  statsmodels/graphics/tsaplots.py
Labels: comp-graphics, comp-tsa, type-bug

#5148 REF/TST: add seed to hdrboxplot, Use random order in pytest
  .travis.yml
  appveyor.yml
  lint.sh
  statsmodels/graphics/functional.py
  statsmodels/graphics/tests/test_functional.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-graphics, maintenance, type-enh, type-refactor, type-test

#5130 BUG: incorrect self.score in GenericLikelihoodModel; closes #4453
  statsmodels/base/model.py
Labels: comp-base, type-bug

#5195 BLD: Include License in Wheel
  .gitignore
  LICENSE.txt
  setup.cfg
  setup.py
  statsmodels/LICENSE.txt
Labels: maintenance

#5208 TST/CLN: Tighten tol to reduce spurious test failure
  statsmodels/sandbox/distributions/multivariate.py
  statsmodels/sandbox/distributions/tests/test_multivariate.py
Labels: comp-distributions, type-test

#5042 ENH: Add innovations algorithm
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/base/tests/test_predict.py
  statsmodels/compat/pandas.py
  statsmodels/stats/tests/test_influence.py
  statsmodels/tools/testing.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-enh

#4559 REF: make arroots and maroots have consistent return type
  lint.sh
  statsmodels/tsa/arima_model.py
  statsmodels/tsa/tests/test_arima.py
Labels: backwards-incompat, comp-tsa, type-refactor

#5217 MAINT: Remove outdated pandas compat shims
  examples/python/robust_models_1.py
  statsmodels/compat/pandas.py
  statsmodels/graphics/tests/test_mosaicplot.py
  statsmodels/imputation/ros.py
  statsmodels/sandbox/multilinear.py
  statsmodels/tsa/base/tsa_model.py
Labels: maintenance

#5171 MAINT: Remove kalmanf StateSpace code supplanted by tsa.statespace
  lint.sh
  statsmodels/tsa/kalmanf/__init__.py
  statsmodels/tsa/kalmanf/kalmanfilter.py
Labels: comp-tsa, maintenance

#5239 BLD: Add platform-specific skips
  .travis.yml
  appveyor.yml
Labels: FAQ, maintenance, type-test

#5257 BUG: Sequential simulation in models with state_intercept
  statsmodels/tsa/statespace/simulation_smoother.py
  statsmodels/tsa/statespace/tests/test_simulate.py
Labels: comp-tsa, type-bug, type-bug-wrong
