Repository statsmodels/statsmodels, pull requests merged in 2018-04, with the labels that each got.

#4428 BUG/REF: GMM fix exog_names, summary
  statsmodels/iolib/summary.py
  statsmodels/sandbox/regression/gmm.py
  statsmodels/sandbox/regression/tests/test_gmm.py
  statsmodels/sandbox/regression/tests/test_gmm_poisson.py
Labels: comp-regression, type-bug

#4430 BUG: tsa coint, nearly perfect colinearity, return (-inf, 0, ...)
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-bug

#4432 MAINT: deprecation warnings
  statsmodels/genmod/tests/results/results_glm.py
  statsmodels/graphics/boxplots.py
  statsmodels/imputation/tests/test_ros.py
  statsmodels/regression/tests/test_theil.py
  statsmodels/tsa/statespace/mlemodel.py
Labels: maintenance, type-test

#4295 get rid of redundant import
  statsmodels/discrete/tests/test_sandwich_cov.py
Labels: comp-discrete, type-cleanup, type-test

#4457 ENH: Add support for RangeIndexes
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/tests/test_tsa_indexes.py
Labels: comp-tsa, type-enh

#4491 BUG: allow list exog in get_prediction
  statsmodels/genmod/_prediction.py
  statsmodels/regression/_prediction.py
  statsmodels/regression/tests/test_predict.py
Labels: comp-genmod, comp-regression, topic-predict, type-bug

#4492 BUG: coint use autolag in adfuller call
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: backwards-incompat, comp-tsa, type-bug-wrong

#4497 BUG: fix ARMA exog dynamic in-sample predict
  statsmodels/tsa/arima_model.py
  statsmodels/tsa/tests/test_arima.py
Labels: comp-tsa, type-bug

#4499 BUG: fix rdataset cache writing on py3
  statsmodels/datasets/tests/test_utils.py
  statsmodels/datasets/utils.py
Labels: comp-io, type-bug

#4493 BUG: AR undefined mu if trend='nc'
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/tests/test_ar.py
Labels: comp-tsa, type-bug

#4194 MAINT: sandbox change file encoding to utf-8
  statsmodels/sandbox/nonparametric/densityorthopoly.py
Labels: maintenance

#4280 BUG/ENH: Fix Hamilton filter docstrings and handle order=0, closes #4248
  statsmodels/tsa/regime_switching/_hamilton_filter.pyx.in
  statsmodels/tsa/regime_switching/markov_switching.py
  statsmodels/tsa/regime_switching/tests/test_markov_regression.py
Labels: comp-tsa, type-bug, type-enh

#4504 BUG: KDEMultivariate, fix undefined _bw_method
  statsmodels/nonparametric/_kernel_base.py
  statsmodels/nonparametric/tests/test_kernel_density.py
Labels: comp-nonparametric, type-bug

#4505 BUG/ENH: summary2, try param_names before exog_names
  statsmodels/iolib/summary2.py
  statsmodels/regression/tests/test_lme.py
Labels: comp-io

#4510 ENH: add bandwidth option to violinplot in boxplots
  statsmodels/graphics/boxplots.py
  statsmodels/graphics/tests/test_boxplots.py
Labels: comp-graphics, type-enh

#4500 ENH: Added plotkwargs to top level version of qqplot in statsmodels.graphics.gofplots
  statsmodels/graphics/gofplots.py
  statsmodels/graphics/tests/test_gofplots.py
Labels: comp-graphics, type-enh

#4512 BUG: allow ARMA/ARIMA with int endog, fix in _fit_start_params_hr
  statsmodels/tsa/arima_model.py
  statsmodels/tsa/tests/test_arima.py
Labels: comp-tsa, type-bug

#4527 DOC: Fix doc errors
  .gitignore
  docs/Makefile
  docs/make.bat
  docs/source/contingency_tables.rst
  docs/source/contrasts.rst
  docs/source/index.rst
  docs/source/mixed_glm.rst
  docs/source/multivariate.rst
  docs/source/plots/graphics-mean_diff_plot.py
  docs/source/vector_ar.rst
  statsmodels/api.py
  statsmodels/base/elastic_net.py
  statsmodels/base/model.py
  statsmodels/datasets/statecrime/data.py
  statsmodels/duration/survfunc.py
  statsmodels/genmod/bayes_mixed_glm.py
  statsmodels/genmod/families/family.py
  statsmodels/graphics/agreement.py
  statsmodels/imputation/bayes_mi.py
  statsmodels/multivariate/cancorr.py
  statsmodels/multivariate/factor.py
  statsmodels/multivariate/factor_rotation/_analytic_rotation.py
  statsmodels/multivariate/factor_rotation/_gpa_rotation.py
  statsmodels/multivariate/factor_rotation/_wrappers.py
  statsmodels/multivariate/manova.py
  statsmodels/multivariate/multivariate_ols.py
  statsmodels/multivariate/pca.py
  statsmodels/nonparametric/kernel_regression.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/vector_ar/dynamic.py
  statsmodels/tsa/vector_ar/tests/test_dynamic.py
  statsmodels/tsa/vector_ar/tests/test_vecm.py
Labels: comp-docs, maintenance

#4250 ENH: Add frequency domain seasonal components to UnobservedComponents
  examples/notebooks/statespace_seasonal.ipynb
  statsmodels/tsa/statespace/structural.py
  statsmodels/tsa/statespace/tests/results/results_structural.py
  statsmodels/tsa/statespace/tests/results/test_ucm.R
  statsmodels/tsa/statespace/tests/test_structural.py
Labels: comp-tsa, type-enh

#4534 DOC: Minor fixes for frequency domain seasonal components docstring.
  statsmodels/tsa/statespace/structural.py
Labels: comp-docs, comp-tsa, type-refactor

#4540 ENH: refactor BayesMixedLM to use base model data handling
  statsmodels/genmod/bayes_mixed_glm.py
  statsmodels/genmod/tests/test_bayes_mixed_glm.py
Labels: comp-genmod

#4551 DOC Updated notebook on kernel density
  examples/notebooks/kernel_density.ipynb
Labels: comp-docs, comp-nonparametric

#4538 BUG/REF: fixing a few VAR problems
  statsmodels/tsa/vector_ar/irf.py
  statsmodels/tsa/vector_ar/plotting.py
  statsmodels/tsa/vector_ar/svar_model.py
  statsmodels/tsa/vector_ar/tests/test_var.py
  statsmodels/tsa/vector_ar/tests/test_var_jmulti.py
  statsmodels/tsa/vector_ar/tests/test_vecm.py
  statsmodels/tsa/vector_ar/util.py
  statsmodels/tsa/vector_ar/var_model.py
Labels: comp-tsa, type-bug, type-refactor

#4552 REF: predict exog and return types, allow custom dict
  statsmodels/base/model.py
  statsmodels/base/tests/test_predict.py
  statsmodels/formula/tests/test_formula.py
Labels: comp-base, type-refactor

#4481 DOC: 0.9 release notes for refactored state space models / tsa indexes / exponential smoothing
  docs/source/release/version0.9.rst
Labels: comp-docs, comp-tsa

#4555 DOC: update release notes for 0.9
  docs/source/release/version0.9.rst
Labels: maintenance

#4557 REL/Maint: Release 09
  docs/source/release/version0.9.rst
  setup.py
Labels: maintenance

#4565 TST pandas compat, skip test_simulate on WIN
  statsmodels/multivariate/tests/test_factor.py
  statsmodels/tsa/statespace/tests/test_simulate.py
Labels: maintenance, type-test

#4569 TST: skip all statespace test_simulate on Windows
  statsmodels/tsa/statespace/tests/test_simulate.py
Labels: comp-tsa, maintenance, type-test

#4571 MAINT: update setup.py and README.rst
  README.rst
  docs/source/release/index.rst
  setup.py
Labels: maintenance

#4574 MAINT: increase version number to 0.10 dev
  setup.py
Labels: maintenance
