Repository statsmodels/statsmodels, pull requests merged in 2018-03, with the labels that each got.

#4247 Fixed non-utf8 character in data.
  statsmodels/tsa/vector_ar/data/e6.dat
Labels: maintenance

#4246 BUG: Check dtype for medcouple
  statsmodels/stats/stattools.py
  statsmodels/stats/tests/test_statstools.py
Labels: comp-stats, type-bug, type-enh

#4271 Fix summary col 3767
  statsmodels/iolib/summary2.py
  statsmodels/iolib/tests/test_summary2.py
Labels: comp-io, type-bug

#4274 DOC: maxiter in ARIMA is 500
  statsmodels/tsa/arima_model.py
Labels: comp-docs, comp-tsa

#4273 Add pytest folders to .gitignore
  .gitignore
Labels: maintenance

#4298 TST: test_arima111_predict_exog_2127 skip for scipy < 0.16
  statsmodels/tsa/tests/test_arima.py
Labels: comp-tsa, type-test

#4318 REF: Fix unclosed files
  statsmodels/datasets/template_data.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/regression/tests/test_lme.py
  statsmodels/stats/tests/test_diagnostic.py
  statsmodels/tsa/tests/results/results_arma.py
  statsmodels/tsa/tests/test_arima.py
  statsmodels/tsa/vector_ar/tests/test_coint.py
Labels: type-refactor, type-test

#4365 ENH: add t_test_pairwise to LikelihoodModelResults
  statsmodels/base/model.py
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/stats/contrast.py
  statsmodels/stats/tests/test_anova.py
  statsmodels/stats/tests/test_contrast.py
Labels: comp-base, comp-stats, type-enh

#4377 BUG: fix MICEData if column with one missing value closes #4375
  statsmodels/imputation/mice.py
  statsmodels/imputation/tests/test_mice.py
Labels: comp-imputation, type-bug

#3253 Fixed bug in approx_hess3 related to floats and tuples.
  statsmodels/tools/numdiff.py
Labels: comp-tools, type-bug

#4384 MAINT: numpy compat, keep old rcond in lstsq
  statsmodels/nonparametric/smoothers_lowess_old.py
  statsmodels/regression/_tools.py
  statsmodels/sandbox/nonparametric/smoothers.py
  statsmodels/sandbox/panel/mixed.py
  statsmodels/sandbox/stats/contrast_tools.py
  statsmodels/sandbox/tsa/diffusion.py
  statsmodels/tsa/seasonal.py
  statsmodels/tsa/varma_process.py
  statsmodels/tsa/vector_ar/svar_model.py
  statsmodels/tsa/vector_ar/var_model.py
Labels: maintenance

#4385 BUG: outlier_test fix index with order
  statsmodels/regression/linear_model.py
  statsmodels/stats/outliers_influence.py
  statsmodels/stats/tests/test_diagnostic.py
Labels: comp-regression, comp-stats, prio-high

#4235 TST: remove some warnings in unit tests
  statsmodels/discrete/count_model.py
  statsmodels/discrete/tests/test_count_model.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_gee_glm.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/genmod/tests/test_glm_weights.py
  statsmodels/tools/sm_exceptions.py
  statsmodels/tsa/vector_ar/tests/JMulTi_results/parse_jmulti_var_output.py
  statsmodels/tsa/vector_ar/tests/test_coint.py
  statsmodels/tsa/vector_ar/tests/test_var.py
  statsmodels/tsa/vector_ar/tests/test_vecm.py
Labels: comp-genmod, type-test

#4388 CLEAN: flake8 cleanups in regime_switching, statespace
  statsmodels/tsa/regime_switching/__init__.py
  statsmodels/tsa/regime_switching/markov_autoregression.py
  statsmodels/tsa/regime_switching/markov_regression.py
  statsmodels/tsa/regime_switching/markov_switching.py
  statsmodels/tsa/regime_switching/tests/test_markov_autoregression.py
  statsmodels/tsa/regime_switching/tests/test_markov_regression.py
  statsmodels/tsa/regime_switching/tests/test_markov_switching.py
  statsmodels/tsa/statespace/api.py
  statsmodels/tsa/statespace/dynamic_factor.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/structural.py
  statsmodels/tsa/statespace/tools.py
Labels: comp-tsa, type-cleanup

#4395 ENH: inter_rater add randolph's kappa to fleiss_kappa
  statsmodels/stats/inter_rater.py
  statsmodels/stats/tests/test_inter_rater.py
Labels: comp-stats, type-enh

#4410 BUG/ENH: proportion_confint: impose bounds, support asarray and pandas
  statsmodels/stats/proportion.py
  statsmodels/stats/tests/results/results_proportion.py
  statsmodels/stats/tests/test_proportion.py
Labels: comp-stats, type-bug, type-enh
