Repository statsmodels/statsmodels, pull requests merged in 2018-05, with the labels that each got.

#4578 Implement "xname_fe" and "xname_re" arguments in MixedLM.summary()
  statsmodels/iolib/tests/test_summary2.py
  statsmodels/regression/mixed_linear_model.py
  statsmodels/regression/tests/test_lme.py
Labels: backport-0.9.0, comp-regression, type-bug

#4580 BUG: State space: Eliminate sometimes invalid copy operation in simulation.
  statsmodels/tsa/statespace/_simulation_smoother.pyx.in
  statsmodels/tsa/statespace/tests/test_simulate.py
Labels: backport-0.9.0, comp-tsa, prio-high, type-bug

#4601 BUG/REF: fix GLM `null`, init keywords
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: backport-0.9.0, comp-genmod, type-bug-wrong

#4613 MAINT: numpy python 2.7 compat in VARProcess irf_errband_mc
  statsmodels/tsa/vector_ar/var_model.py
Labels: backport-0.9.0, maintenance

#4620 BUG: GLM score and hessian
  docs/source/release/version0.9.rst
  statsmodels/discrete/tests/test_sandwich_cov.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_constrained.py
  statsmodels/genmod/tests/test_glm.py
Labels: backport-0.9.0, comp-genmod, type-bug-wrong

#4627 Use wls_method for irls, reverts 78dcce2
  statsmodels/genmod/generalized_linear_model.py
Labels: backport-0.9.0, comp-genmod, type-bug

#4629 BUG/REF: fix exposure transformation in elasticnet
  statsmodels/base/elastic_net.py
  statsmodels/genmod/tests/test_glm.py
Labels: backport-0.9.0, comp-base, comp-genmod, type-bug-wrong

#4628 Simplify start_params generation for gradient optimization in GLM #4625
  statsmodels/genmod/generalized_linear_model.py
Labels: Performance, backport-0.9.0, comp-genmod, type-refactor

#4583 DOC: Reformat README
  README.rst
Labels: backport-0.9.0, comp-docs

#4630 PERF: Use np.dot in GLM.score
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: Performance, backport-0.9.0, comp-genmod, type-refactor

#4632 DOC: update release notes
  docs/source/release/version0.9.rst
Labels: comp-docs, maintenance

#4593 DOC:ArmaProcess class documentation typo fix
  statsmodels/tsa/arima_process.py
Labels: comp-tsa, type-cleanup

#4560 Document and cleanup bits of cython code
  statsmodels/tsa/kalmanf/kalman_loglike.pyx
  statsmodels/tsa/kalmanf/kalmanfilter.py
  statsmodels/tsa/statespace/_tools.pyx.in
Labels: comp-docs, comp-tsa, type-cleanup

#4594 TEST/DOC: SMW linalg routines documentation and test
  statsmodels/regression/mixed_linear_model.py
  statsmodels/regression/tests/test_lme.py
Labels: comp-regression, maintenance, type-test

#4653 REF/MAINT: avoid dict with pandas
  statsmodels/stats/anova.py
Labels: comp-stats, maintenance, type-refactor

#4650 DISCUSS/BLD: Update minimum versions.
  .travis.yml
  INSTALL.txt
  appveyor.yml
  docs/source/install.rst
  setup.py
Labels: build, design

#4576 Penalized mle scad rebased2
  statsmodels/base/_penalized.py
  statsmodels/base/_penalties.py
  statsmodels/base/model.py
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/base/tests/test_penalized.py
  statsmodels/base/tests/test_penalties.py
  statsmodels/discrete/discrete_model.py
  statsmodels/regression/linear_model.py
  statsmodels/regression/mixed_linear_model.py
Labels: comp-base, topic-penalization, type-enh

#4683 ENH: add ultra-high screening with SCAD
  statsmodels/base/_penalized.py
  statsmodels/base/_penalties.py
  statsmodels/base/_screening.py
  statsmodels/base/tests/test_screening.py
  statsmodels/discrete/discrete_model.py
Labels: comp-base, topic-penalization, type-enh

#4418 ENH: State space: Exact diffuse initialization
  .gitignore
  setup.py
  statsmodels/tsa/statespace/_filters/_univariate.pxd
  statsmodels/tsa/statespace/_filters/_univariate.pyx.in
  statsmodels/tsa/statespace/_filters/_univariate_diffuse.pxd
  statsmodels/tsa/statespace/_filters/_univariate_diffuse.pyx.in
  statsmodels/tsa/statespace/_initialization.pxd
  statsmodels/tsa/statespace/_initialization.pyx.in
  statsmodels/tsa/statespace/_kalman_filter.pxd
  statsmodels/tsa/statespace/_kalman_filter.pyx.in
  statsmodels/tsa/statespace/_kalman_smoother.pxd
  statsmodels/tsa/statespace/_kalman_smoother.pyx.in
  statsmodels/tsa/statespace/_representation.pxd
  statsmodels/tsa/statespace/_representation.pyx.in
  statsmodels/tsa/statespace/_smoothers/_univariate.pyx.in
  statsmodels/tsa/statespace/_smoothers/_univariate_diffuse.pxd
  statsmodels/tsa/statespace/_smoothers/_univariate_diffuse.pyx.in
  statsmodels/tsa/statespace/_tools.pxd
  statsmodels/tsa/statespace/_tools.pyx.in
  statsmodels/tsa/statespace/api.py
  statsmodels/tsa/statespace/initialization.py
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/structural.py
  statsmodels/tsa/statespace/tests/kfas_helpers.py
  statsmodels/tsa/statespace/tests/results/kfas_helpers.R
  statsmodels/tsa/statespace/tests/results/results_exact_initial_common_level_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_common_level_restricted_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_dfm_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_local_level_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_local_linear_trend_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_local_linear_trend_missing_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_var1_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_var1_measurement_error_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_var1_missing_R.csv
  statsmodels/tsa/statespace/tests/results/results_exact_initial_var1_mixed_R.csv
  statsmodels/tsa/statespace/tests/results/test_exact_diffuse_filtering.R
  statsmodels/tsa/statespace/tests/results/test_exact_diffuse_filtering_multivariate.R
  statsmodels/tsa/statespace/tests/results/test_exact_diffuse_filtering_stata.do
  statsmodels/tsa/statespace/tests/test_exact_diffuse_filtering.py
  statsmodels/tsa/statespace/tests/test_initialization.py
  statsmodels/tsa/statespace/tests/test_mlemodel.py
  statsmodels/tsa/statespace/tests/test_representation.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/statespace/tools.py
Labels: comp-tsa, type-enh
