Repository statsmodels/statsmodels, pull requests merged in 2018-08, with the labels that each got.

#4814 CLEAN: Removed unnecessary and non-informative print
  statsmodels/base/data.py
Labels: type-cleanup

#4826 BUG/ENH: Recursive LS: fix bug w/ multiple constraints
  statsmodels/regression/recursive_ls.py
  statsmodels/regression/tests/test_recursive_ls.py
  statsmodels/tsa/statespace/mlemodel.py
Labels: comp-regression, type-bug

#4844 CLN: Fully lint regime_switching
  lint.sh
  statsmodels/tsa/regime_switching/markov_switching.py
  statsmodels/tsa/regime_switching/tests/test_markov_autoregression.py
  statsmodels/tsa/regime_switching/tests/test_markov_regression.py
  statsmodels/tsa/regime_switching/tests/test_markov_switching.py
Labels: type-cleanup

#4823 Fix deprecation warnings
  .travis.yml
  statsmodels/formula/tests/test_formula.py
  statsmodels/genmod/cov_struct.py
  statsmodels/imputation/mice.py
  statsmodels/iolib/summary2.py
  statsmodels/iolib/tests/test_table.py
  statsmodels/stats/_adnorm.py
  statsmodels/tools/eval_measures.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/tests/test_stattools.py
  statsmodels/tsa/tests/test_tsa_tools.py
  statsmodels/tsa/tsatools.py
Labels: backport-0.9.1, maintenance, prio-high

#4845 ENH: Improve speed in Exponential Smoothing
  examples/notebooks/exponential_smoothing.ipynb
  setup.py
  statsmodels/tsa/_exponential_smoothers.pyx
  statsmodels/tsa/holtwinters.py
  statsmodels/tsa/tests/results/housing-data.csv
  statsmodels/tsa/tests/test_holtwinters.py
  statsmodels/tsa/x13.py
Labels: comp-tsa, type-bug, type-enh, type-refactor

#4750 DOC: Fix indentation of math formulas
  docs/source/contingency_tables.rst
Labels: comp-docs, type-bug

#4886 CLN: Fully lint recursive_ls.py
  lint.sh
  statsmodels/compat/python.py
  statsmodels/regression/recursive_ls.py
Labels: comp-regression, type-cleanup

#4883 CLN: remove empty __main__ sections
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/discrete/discrete_model.py
  statsmodels/iolib/tests/test_table.py
  statsmodels/regression/feasible_gls.py
  statsmodels/sandbox/panel/mixed.py
  statsmodels/sandbox/panel/panel_short.py
  statsmodels/sandbox/panel/random_panel.py
  statsmodels/sandbox/regression/try_catdata.py
  statsmodels/tsa/vector_ar/tests/test_coint.py
Labels: type-cleanup

#4911 CLN: Remove future errors and warnings
  statsmodels/base/data.py
  statsmodels/discrete/tests/test_count_model.py
  statsmodels/formula/tests/test_formula.py
  statsmodels/nonparametric/tests/test_kde.py
  statsmodels/sandbox/stats/stats_dhuard.py
  statsmodels/stats/anova.py
  statsmodels/stats/tests/test_anova.py
  statsmodels/tsa/statespace/tests/test_initialization.py
  statsmodels/tsa/statespace/tests/test_representation.py
  statsmodels/tsa/statespace/tests/test_tools.py
  statsmodels/tsa/statespace/tools.py
  statsmodels/tsa/x13.py
Labels: type-cleanup

#4893 TST: Restore incorrectly disabled test
  statsmodels/regression/tests/test_lme.py
Labels: comp-regression, type-test

#4889 REF: Rename ColinearityWarning
  statsmodels/tools/sm_exceptions.py
  statsmodels/tsa/tests/test_stattools.py
Labels: backwards-incompat, comp-tools, type-refactor

#4891 BLD: Fix linting and move coverage
  .travis.yml
  lint.sh
Labels: build

#4944 BLD: Add pinned numpy on appveyor
  appveyor.yml
Labels: build, maintenance

#4900 CLN: Lint for missing whitespace around modulo operator E228,E401
  examples/incomplete/wls_extended.py
  setup.cfg
  statsmodels/__init__.py
  statsmodels/examples/l1_demo/demo.py
  statsmodels/iolib/tests/test_table_econpy.py
  statsmodels/sandbox/distributions/examples/matchdist.py
  statsmodels/sandbox/examples/ex_onewaygls.py
  statsmodels/sandbox/examples/example_gam.py
  statsmodels/sandbox/examples/example_gam_0.py
  statsmodels/sandbox/examples/try_quantile_regression.py
  statsmodels/sandbox/examples/try_quantile_regression1.py
  statsmodels/sandbox/regression/onewaygls.py
  statsmodels/sandbox/regression/try_catdata.py
  statsmodels/sandbox/stats/contrast_tools.py
  statsmodels/sandbox/stats/multicomp.py
  statsmodels/sandbox/tsa/example_arma.py
  statsmodels/stats/contrast.py
  statsmodels/stats/descriptivestats.py
  statsmodels/stats/weightstats.py
  statsmodels/tsa/tests/test_seasonal.py
Labels: type-cleanup

#4890 BUG: Add check to ensure array in arma order selection
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-bug

#4913 TST: Add a fixture to close all plots
  conftest.py
  lint.sh
  statsmodels/conftest.py
  statsmodels/discrete/tests/test_diagnostic.py
  statsmodels/duration/tests/test_survfunc.py
  statsmodels/genmod/tests/test_gee.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/graphics/tests/test_agreement.py
  statsmodels/graphics/tests/test_boxplots.py
  statsmodels/graphics/tests/test_correlation.py
  statsmodels/graphics/tests/test_dotplot.py
  statsmodels/graphics/tests/test_factorplots.py
  statsmodels/graphics/tests/test_functional.py
  statsmodels/graphics/tests/test_gofplots.py
  statsmodels/graphics/tests/test_mosaicplot.py
  statsmodels/graphics/tests/test_regressionplots.py
  statsmodels/graphics/tests/test_tsaplots.py
  statsmodels/imputation/tests/test_mice.py
  statsmodels/multivariate/tests/test_factor.py
  statsmodels/multivariate/tests/test_pca.py
  statsmodels/regression/tests/test_recursive_ls.py
  statsmodels/sandbox/tests/test_predict_functional.py
  statsmodels/stats/tests/test_influence.py
  statsmodels/stats/tests/test_pairwise.py
  statsmodels/stats/tests/test_power.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/statespace/tests/test_structural.py
  statsmodels/tsa/tests/test_arima.py
  statsmodels/tsa/vector_ar/tests/test_var.py
Labels: type-test

#4995 [TST] make tools.linalg __main__ section into tests
  lint.sh
  statsmodels/tools/linalg.py
  statsmodels/tools/tests/test_linalg.py
Labels: comp-tools, type-test

#4993 [TST/CLN] Turn decorators __main__ section into tests
  lint.sh
  statsmodels/tools/decorators.py
  statsmodels/tools/tests/test_decorators.py
Labels: comp-tools, type-test

#4998 [CLN/TST] Follow instructions to remove function
  statsmodels/stats/sandwich_covariance.py
  statsmodels/tools/grouputils.py
  statsmodels/tools/tests/test_transform_model.py
  statsmodels/tools/transform_model.py
Labels: comp-tools, type-cleanup, type-refactor

#4912 BLD: Rebased ci improvements
  .travis.yml
  appveyor.yml
  statsmodels/discrete/tests/test_count_model.py
  statsmodels/emplike/tests/test_aft.py
  statsmodels/emplike/tests/test_regression.py
  statsmodels/regression/tests/test_lme.py
  statsmodels/regression/tests/test_recursive_ls.py
  statsmodels/stats/tests/test_influence.py
  statsmodels/stats/tests/test_mediation.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/statespace/tests/test_structural.py
  statsmodels/tsa/tests/test_arima.py
  tools/ci/appveyor_conda.bat
  tools/ci/appveyor_pip.bat
  tools/ci/docbuild.sh
  tools/ci/docbuild_install.sh
  tools/ci/travis_conda.sh
  tools/ci/travis_pip.sh
Labels: build

#5000 [MAINT] update compat to remove unusable shims e.g. py26
  statsmodels/base/optimizer.py
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/base/tests/test_optimize.py
  statsmodels/compat/numpy.py
  statsmodels/compat/pandas.py
  statsmodels/compat/scipy.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/duration/hazard_regression.py
  statsmodels/sandbox/regression/tests/test_gmm_poisson.py
  statsmodels/stats/_knockoff.py
  statsmodels/stats/tests/test_diagnostic.py
  statsmodels/tsa/statespace/tests/test_kalman.py
  statsmodels/tsa/tests/test_arima_process.py
  statsmodels/tsa/tests/test_tsa_indexes.py
Labels: maintenance

#4921 BUG: remove faux endog from results if constraints
  statsmodels/regression/recursive_ls.py
  statsmodels/tsa/statespace/mlemodel.py
Labels: comp-regression, type-bug

#5076 ENH: more work on copula (deriv, classes)
  statsmodels/sandbox/distributions/copula.py
Labels: comp-distributions, type-enh
