Repository statsmodels/statsmodels, pull requests merged in 2018-11, with the labels that each got.

#5359 BUG: raise correct error
  statsmodels/stats/libqsturng/qsturng_.py
Labels: comp-stats, type-bug

#5352 CLN: Fix F901 and E306 mixups
  statsmodels/stats/_lilliefors.py
  statsmodels/stats/anova.py
Labels: comp-stats, type-bug

#4977 [BUG/MAINT] Fix NameErrors caused by missing kwargs
  statsmodels/miscmodels/nonlinls.py
  statsmodels/stats/power.py
Labels: comp-stats, type-bug

#5353 CLN: W605 fixups in vector_ar
  statsmodels/tsa/vector_ar/tests/JMulTi_results/parse_jmulti_var_output.py
  statsmodels/tsa/vector_ar/tests/JMulTi_results/parse_jmulti_vecm_output.py
  statsmodels/tsa/vector_ar/util.py
  statsmodels/tsa/vector_ar/var_model.py
  statsmodels/tsa/vector_ar/vecm.py
Labels: comp-tsa, type-cleanup

#5237 TST: Add mac testing
  .travis.yml
  tools/ci/travis_conda.sh
  tools/ci/travis_pip.sh
Labels: build, type-test
