Repository statsmodels/statsmodels, pull requests merged in 2018-06, with the labels that each got.

#4699 ENH: Exact diffuse filtering for RecursiveLS
  statsmodels/regression/recursive_ls.py
  statsmodels/regression/tests/test_recursive_ls.py
Labels: comp-regression, type-enh

#4698 REF: Remove compatibility mode for state space
  setup.py
  statsmodels/tsa/base/tests/test_base.py
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/statespace/_statespace.pyx.in
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/simulation_smoother.py
  statsmodels/tsa/statespace/tests/test_collapsed.py
  statsmodels/tsa/statespace/tests/test_initialization.py
  statsmodels/tsa/statespace/tests/test_kalman.py
  statsmodels/tsa/statespace/tests/test_mlemodel.py
  statsmodels/tsa/statespace/tests/test_options.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/statespace/tests/test_simulate.py
  statsmodels/tsa/statespace/tests/test_simulation_smoothing.py
  statsmodels/tsa/statespace/tests/test_smoothing.py
  statsmodels/tsa/statespace/tests/test_univariate.py
  statsmodels/tsa/statespace/tools.py
Labels: comp-tsa, type-cleanup

#2096 Score/LM conditional moment tests
  statsmodels/base/_parameter_inference.py
  statsmodels/discrete/discrete_model.py
  statsmodels/genmod/tests/test_score_test.py
  statsmodels/stats/_diagnostic_other.py
  statsmodels/stats/tests/test_diagnostic_other.py
Labels: comp-base, comp-stats, type-enh

#4133 ENH: Add linear restrictions to RecursiveLS
  examples/notebooks/recursive_ls.ipynb
  statsmodels/regression/recursive_ls.py
  statsmodels/regression/tests/results/test_rls.do
  statsmodels/regression/tests/test_recursive_ls.py
  statsmodels/tsa/statespace/_filters/_univariate.pyx.in
  statsmodels/tsa/statespace/_filters/_univariate_diffuse.pyx.in
  statsmodels/tsa/statespace/kalman_filter.py
Labels: comp-tsa, type-enh

#4743 BUG: state space: exact diffuse filtering in complex data type case
  statsmodels/tsa/statespace/_filters/_univariate_diffuse.pyx.in
Labels: comp-tsa, type-bug

#3480 ENH: State space: allow concentrating scale out of log-likelihood
  statsmodels/regression/recursive_ls.py
  statsmodels/tsa/statespace/_filters/_conventional.pxd
  statsmodels/tsa/statespace/_filters/_conventional.pyx.in
  statsmodels/tsa/statespace/_filters/_univariate.pxd
  statsmodels/tsa/statespace/_filters/_univariate.pyx.in
  statsmodels/tsa/statespace/_filters/_univariate_diffuse.pyx.in
  statsmodels/tsa/statespace/_kalman_filter.pxd
  statsmodels/tsa/statespace/_kalman_filter.pyx.in
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/tests/test_concentrated.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor.py
  statsmodels/tsa/statespace/tests/test_options.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
Labels: comp-tsa, type-enh

#4704 BUG Fix random effects covariance getter for MixedLM
  statsmodels/regression/mixed_linear_model.py
  statsmodels/regression/tests/test_lme.py
Labels: prio-high, type-bug

#4722 ENH: Add formula support to MI multiple imputation
  statsmodels/imputation/bayes_mi.py
  statsmodels/imputation/tests/test_bayes_mi.py
Labels: comp-formula, comp-imputation, pandas-integration

#4702 BUG: Add missing predict and fit methods to BayesMixedGLM
  statsmodels/genmod/bayes_mixed_glm.py
  statsmodels/genmod/tests/test_bayes_mixed_glm.py
Labels: comp-genmod

#4732 ENH: add GLMInfluence
  examples/notebooks/influence_glm_logit.ipynb
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/graphics/_regressionplots_doc.py
  statsmodels/graphics/regressionplots.py
  statsmodels/stats/outliers_influence.py
  statsmodels/stats/tests/results/binary_constrict.csv
  statsmodels/stats/tests/results/results_influence_logit.csv
  statsmodels/stats/tests/test_diagnostic.py
  statsmodels/stats/tests/test_influence.py
Labels: comp-genmod, type-enh

#4712 BUG: add ModelWarning base class to avoid warning filter on standard UserWarning.
  statsmodels/tools/sm_exceptions.py
Labels: backport-0.9.1, comp-tools, type-refactor

#4726 ENH Kernel covariance
  statsmodels/stats/correlation_tools.py
  statsmodels/stats/tests/test_correlation.py
Labels: comp-multivariate, comp-nonparametric, topic_covtype, type-enh

#4753 DOC: Add notebook on concentrated scale in ssm
  docs/source/_static/images/statespace_concentrated_scale.png
  docs/source/examples/landing.json
  examples/notebooks/statespace_concentrated_scale.ipynb
Labels: comp-docs, comp-tsa, type-enh

#4766 BUG/ENH: VARMAX Fix trend / exog. timing. Add polynomial trends.
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/tests/results/results_var_R.py
  statsmodels/tsa/statespace/tests/results/results_var_R_output.csv
  statsmodels/tsa/statespace/tests/results/test_var.R
  statsmodels/tsa/statespace/tests/test_simulate.py
  statsmodels/tsa/statespace/tests/test_var.py
  statsmodels/tsa/statespace/tests/test_varmax.py
  statsmodels/tsa/statespace/tools.py
  statsmodels/tsa/statespace/varmax.py
  statsmodels/tsa/tests/results/lutkepohl2.dta
Labels: comp-tsa, type-bug, type-bug-wrong
