Repository statsmodels/statsmodels, pull requests merged in 2019-01, with the labels that each got.

#5449 ENH/DOC: Added linting instruction in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: comp-docs, type-enh

#5481 ENH: Generalized Additive Models and splines (Gam 2744 rebased4)
  .gitignore
  docs/source/gam.rst
  docs/source/index.rst
  statsmodels/api.py
  statsmodels/base/_penalized.py
  statsmodels/base/_penalties.py
  statsmodels/base/model.py
  statsmodels/base/tests/test_penalized.py
  statsmodels/base/tests/test_penalties.py
  statsmodels/compat/python.py
  statsmodels/formula/api.py
  statsmodels/gam/__init__.py
  statsmodels/gam/api.py
  statsmodels/gam/gam_cross_validation/__init__.py
  statsmodels/gam/gam_cross_validation/cross_validators.py
  statsmodels/gam/gam_cross_validation/gam_cross_validation.py
  statsmodels/gam/gam_penalties.py
  statsmodels/gam/generalized_additive_model.py
  statsmodels/gam/smooth_basis.py
  statsmodels/gam/tests/__init__.py
  statsmodels/gam/tests/results/__init__.py
  statsmodels/gam/tests/results/autos.csv
  statsmodels/gam/tests/results/autos_exog.csv
  statsmodels/gam/tests/results/autos_predict.csv
  statsmodels/gam/tests/results/cubic_cyclic_splines_from_mgcv.csv
  statsmodels/gam/tests/results/gam_PIRLS_results.csv
  statsmodels/gam/tests/results/logit_gam_mgcv.csv
  statsmodels/gam/tests/results/motorcycle.csv
  statsmodels/gam/tests/results/prediction_from_mgcv.csv
  statsmodels/gam/tests/results/results_mpg_bs.py
  statsmodels/gam/tests/results/results_mpg_bs_poisson.py
  statsmodels/gam/tests/results/results_mpg_bs_poisson.r
  statsmodels/gam/tests/results/results_pls.py
  statsmodels/gam/tests/test_gam.py
  statsmodels/gam/tests/test_penalized.py
  statsmodels/gam/tests/test_smooth_basis.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/iolib/summary.py
  statsmodels/regression/linear_model.py
  statsmodels/regression/tests/test_theil.py
  statsmodels/sandbox/regression/penalized.py
  statsmodels/stats/contrast.py
  statsmodels/tools/linalg.py
  tools/R2nparray/R/R2nparray.R
Labels: comp-gam, type-enh

#5484 DOC: fix gam.rst
  docs/source/gam.rst
  docs/source/glm.rst
  docs/source/tsa.rst
  statsmodels/gam/generalized_additive_model.py
  statsmodels/genmod/families/varfuncs.py
  statsmodels/stats/anova.py
Labels: comp-docs, comp-gam
