Repository statsmodels/statsmodels, pull requests merged in 2019-04, with the labels that each got.

#5567 Correct a spell mistake
  examples/notebooks/recursive_ls.ipynb
Labels: comp-docs, type-cleanup

#5322 DOC: Move magic
  .travis.yml
  docs/source/contrasts.rst
  docs/source/datasets/index.rst
  docs/source/vector_ar.rst
  docs/sphinxext/github.py
  examples/notebooks/discrete_choice_example.ipynb
  examples/notebooks/glm.ipynb
  examples/notebooks/interactions_anova.ipynb
  examples/notebooks/ols.ipynb
  examples/notebooks/plots_boxplots.ipynb
  examples/notebooks/predict.ipynb
  examples/notebooks/quantile_regression.ipynb
  examples/notebooks/regression_diagnostics.ipynb
  examples/notebooks/regression_plots.ipynb
  examples/notebooks/robust_models_0.ipynb
  examples/notebooks/robust_models_1.ipynb
  examples/notebooks/tsa_arma_0.ipynb
  examples/notebooks/tsa_arma_1.ipynb
  examples/notebooks/tsa_filters.ipynb
  examples/notebooks/wls.ipynb
  statsmodels/regression/mixed_linear_model.py
  statsmodels/tools/linalg.py
  statsmodels/tsa/innovations/tests/test_arma_innovations.py
  tools/ci/docbuild_install.sh
  tools/ci/travis_pip.sh
Labels: build, comp-docs

#5153 ENH: Add additional options for pacf ols
  docs/source/tsa.rst
  statsmodels/compat/numpy.py
  statsmodels/gam/generalized_additive_model.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-enh

#5541 DOC: Describe binomial endog formats
  statsmodels/genmod/families/family.py
Labels: comp-docs, comp-genmod
