Repository statsmodels/statsmodels, pull requests merged in 2019-06, with the labels that each got.

#5803 ENH: QIF regression
  statsmodels/genmod/families/links.py
  statsmodels/genmod/qif.py
  statsmodels/genmod/tests/test_qif.py
Labels: comp-genmod, type-enh

#5825 MAINT: use correct key name to check cov params presence
  statsmodels/base/model.py
Labels: type-bug

#5868 BUG: State space univariate smoothing w/ time-varying transition matrix: wrong transition matrix used
  statsmodels/tsa/statespace/_smoothers/_univariate.pyx.in
  statsmodels/tsa/statespace/tests/test_univariate.py
Labels: comp-tsa, type-bug, type-bug-wrong

#5831 PERF: Import speed
  lint.sh
  statsmodels/__init__.py
  statsmodels/gam/gam_cross_validation/gam_cross_validation.py
  statsmodels/gam/smooth_basis.py
  statsmodels/multivariate/factor.py
  statsmodels/tests/__init__.py
  statsmodels/tests/test_package.py
  statsmodels/tools/_testing.py
  statsmodels/tools/sm_exceptions.py
Labels: On hold

#5826 ENH/REF: Markov switching in log space: Hamilton filter / Kim smoother
  statsmodels/src/math.pxd
  statsmodels/tsa/regime_switching/_hamilton_filter.pxd
  statsmodels/tsa/regime_switching/_hamilton_filter.pyx.in
  statsmodels/tsa/regime_switching/_kim_smoother.pxd
  statsmodels/tsa/regime_switching/_kim_smoother.pyx.in
  statsmodels/tsa/regime_switching/markov_autoregression.py
  statsmodels/tsa/regime_switching/markov_regression.py
  statsmodels/tsa/regime_switching/markov_switching.py
  statsmodels/tsa/regime_switching/tests/test_markov_autoregression.py
  statsmodels/tsa/regime_switching/tests/test_markov_regression.py
Labels: comp-tsa, type-enh

#5893 BUG: exponential smoothing - damped trend gives incorrect param, predictions
  statsmodels/tsa/holtwinters.py
  statsmodels/tsa/tests/test_holtwinters.py
Labels: comp-tsa, type-bug, type-bug-wrong

#5897 MAINT: Use pytest.raises to check error message
  lint.sh
  statsmodels/regression/tests/test_tools.py
Labels: backport, maintenance
