Repository statsmodels/statsmodels, pull requests merged in 2019-11, with the labels that each got.

#6232 BUG: division by zero in exponential smoothing if damping_slope=0
  statsmodels/tsa/holtwinters.py
  statsmodels/tsa/tests/test_holtwinters.py
Labels: comp-tsa, type-bug

#6231 BUG: allow dynamic factor starting parameters computation with NaNs values
  statsmodels/tsa/statespace/dynamic_factor.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor.py
Labels: comp-tsa-statespace, type-bug

#6233 BUG: dynamic factor model use AR model for error start params if error_var=False
  statsmodels/tsa/statespace/dynamic_factor.py
Labels: comp-tsa-statespace, type-bug

#6239 BUG: SARIMAX index behavior with simple_differencing=True
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
Labels: comp-tsa-statespace, type-bug

#6241 BUG: SARIMAX: basic validation for order, seasonal_order
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
Labels: comp-tsa-statespace, type-bug

#6240 BUG: parameter names in DynamicFactor for unstructured error covariance matrix
  statsmodels/tsa/statespace/dynamic_factor.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor.py
  statsmodels/tsa/statespace/tests/test_fixed_params.py
Labels: comp-tsa-statespace, type-bug

#6242 BUG: Forecasts now ignore non-monotonic period index
  statsmodels/tsa/base/tests/test_tsa_indexes.py
  statsmodels/tsa/base/tsa_model.py
Labels: comp-tsa, type-bug

#6250 ENH: Update SARIMAX to use SARIMAXSpecification for more consistent input handling
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/specification.py
  statsmodels/tsa/arima/tests/test_model.py
  statsmodels/tsa/arima/tests/test_specification.py
  statsmodels/tsa/arima/tests/test_tools.py
  statsmodels/tsa/arima/tools.py
  statsmodels/tsa/statespace/sarimax.py
Labels: comp-tsa-statespace, type-enh

#6254 ENH: State space: Add finer-grained memory conserve settings
  statsmodels/tsa/arima/tests/test_model.py
  statsmodels/tsa/statespace/_kalman_filter.pxd
  statsmodels/tsa/statespace/_kalman_filter.pyx.in
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_conserve_memory.py
  statsmodels/tsa/statespace/tests/test_kalman.py
  statsmodels/tsa/statespace/tests/test_options.py
  statsmodels/tsa/statespace/tests/test_prediction.py
  statsmodels/tsa/statespace/tests/test_representation.py
Labels: comp-tsa-statespace, type-enh

#6258 BUG: Hannan-Rissanen third stage is invalid if non-stationary/invertible
  statsmodels/tsa/arima/estimators/hannan_rissanen.py
  statsmodels/tsa/arima/estimators/tests/test_hannan_rissanen.py
  statsmodels/tsa/arima/tests/test_model.py
Labels: comp-tsa, type-bug

#6260 BUG: cloning of arima.ARIMA models.
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/specification.py
  statsmodels/tsa/arima/tests/test_model.py
Labels: comp-tsa-statespace, type-bug

#6261 BUG: state space: saving fixed params w/ extend, apply, append
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_fixed_params.py
Labels: comp-tsa-statespace, type-bug

#6222 WIP: Relax precision for ppc64el
  statsmodels/stats/tests/test_diagnostic.py
Labels: build
