Repository statsmodels/statsmodels, pull requests merged in 2019-08, with the labels that each got.

#6050 BUG: MLEModel now passes nobs to Representation
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_mlemodel.py
  statsmodels/tsa/statespace/tests/test_representation.py
Labels: comp-tsa-statespace, type-bug

#6064 ENH/PERF: Only perform required predict iterations in state space models
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/tests/test_prediction.py
  statsmodels/tsa/statespace/varmax.py
Labels: Performance, comp-tsa-statespace, type-enh

#6028 ENH: Add rolling WLS and OLS
  docs/source/_static/images/rolling_ls.png
  docs/source/examples/landing.json
  docs/source/names_wordlist.txt
  docs/source/regression.rst
  docs/source/spelling_wordlist.txt
  examples/notebooks/rolling_ls.ipynb
  statsmodels/regression/rolling.py
  statsmodels/regression/tests/test_rolling.py
Labels: Major Feature, comp-regression

#5283 ENH: Use cython fused types to simplify statespace code
  statsmodels/tsa/statespace/_tools.pxd
  statsmodels/tsa/statespace/_tools.pyx.in
Labels: comp-tsa, comp-tsa-statespace, type-enh

#6071 ENH: state space: Improve low memory usability; allow in fit, loglike
  statsmodels/tsa/statespace/_kalman_smoother.pyx.in
  statsmodels/tsa/statespace/dynamic_factor.py
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/structural.py
  statsmodels/tsa/statespace/tests/test_prediction.py
  statsmodels/tsa/statespace/tests/test_representation.py
  statsmodels/tsa/statespace/varmax.py
Labels: Performance, comp-tsa-statespace, type-enh

#6072 BUG: state space: cov_params computation in fix_params context
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_fixed_params.py
Labels: comp-tsa-statespace, type-bug

#6073 TST: Add conserve memory tests.
  statsmodels/tsa/statespace/tests/test_conserve_memory.py
Labels: comp-tsa-statespace, type-test

#6074 ENH: Improve cov_params in append, extend, apply
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor.py
  statsmodels/tsa/statespace/tests/test_mlemodel.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/statespace/tests/test_structural.py
  statsmodels/tsa/statespace/tests/test_varmax.py
Labels: comp-tsa-statespace, type-enh

#6102 ENH: Improve SARIMAX start_params if too few nobs
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
Labels: comp-tsa-statespace, type-enh

#6108 DOC: Update link in CONTRIBUTING.rst
  CONTRIBUTING.rst
Labels: comp-docs, type-enh

#6107 DOC: Update CONTRIBUTING.rst "relase"-> "release"
  CONTRIBUTING.rst
Labels: comp-docs, type-bug

#6106 DOC: Changes summary_col's docstring to match variables
  statsmodels/iolib/summary2.py
Labels: comp-docs, type-bug

#6111 ENH: Add exact diffuse initialization as an option for SARIMAX, UnobservedComponents
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/structural.py
  statsmodels/tsa/statespace/tests/results/results_structural.py
  statsmodels/tsa/statespace/tests/results/test_ucm.R
  statsmodels/tsa/statespace/tests/test_mlemodel.py
  statsmodels/tsa/statespace/tests/test_representation.py
  statsmodels/tsa/statespace/tests/test_structural.py
Labels: comp-tsa-statespace, type-enh

#6130 BUG: Incorrect TSA index if loc resolves to slice
  statsmodels/tsa/base/tests/test_tsa_indexes.py
  statsmodels/tsa/base/tsa_model.py
Labels: comp-tsa, type-bug

#6131 ENH: Compute standardized forecast error in diffuse period if possible
  statsmodels/tsa/statespace/_filters/_univariate_diffuse.pyx.in
Labels: comp-tsa-statespace, type-enh
