Repository statsmodels/statsmodels, pull requests merged in 2019-05, with the labels that each got.

#4989 [MAINT/CLN] Remove code made unusable due to license issue
  statsmodels/genmod/generalized_linear_model.py
Labels: comp-genmod, prio-low, type-cleanup

#5021 MAINT: fix typo duplicated References in docstring
  statsmodels/discrete/discrete_model.py
Labels: comp-discrete, comp-docs, type-cleanup

#5136 TST: improve testing util functions; de-duplicate
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/nonparametric/tests/test_kernel_regression.py
  statsmodels/tools/_testing.py
Labels: comp-base, type-test

#4691 ENH: Gaussian process regression
  statsmodels/regression/process_regression.py
  statsmodels/regression/tests/test_processreg.py
Labels: comp-functional, comp-panel, comp-regression, type-enh

#4901 CLN: Fix and lint for E124 closing bracket does not match visual indentation
  setup.cfg
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/results/results_discrete.py
  statsmodels/discrete/tests/test_sandwich_cov.py
  statsmodels/examples/ex_kernel_regression3.py
  statsmodels/genmod/tests/results/res_R_var_weight.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/genmod/tests/test_glm_weights.py
  statsmodels/imputation/tests/test_ros.py
  statsmodels/iolib/summary.py
  statsmodels/regression/linear_model.py
  statsmodels/regression/quantile_regression.py
  statsmodels/regression/tests/test_predict.py
  statsmodels/regression/tests/test_regression.py
  statsmodels/regression/tests/test_robustcov.py
  statsmodels/sandbox/distributions/genpareto.py
  statsmodels/sandbox/examples/bayesprior.py
  statsmodels/sandbox/examples/example_nbin.py
  statsmodels/sandbox/regression/runmnl.py
  statsmodels/sandbox/regression/tests/test_gmm.py
  statsmodels/sandbox/regression/treewalkerclass.py
  statsmodels/sandbox/regression/try_treewalker.py
  statsmodels/stats/inter_rater.py
  statsmodels/stats/tests/test_pairwise.py
  statsmodels/tools/tests/test_grouputils.py
  statsmodels/tsa/vector_ar/hypothesis_test_results.py
  statsmodels/tsa/vector_ar/irf.py
  statsmodels/tsa/vector_ar/output.py
  statsmodels/tsa/vector_ar/plotting.py
  statsmodels/tsa/vector_ar/svar_model.py
  statsmodels/tsa/vector_ar/var_model.py
  statsmodels/tsa/vector_ar/vecm.py
  tools/backport_pr.py
  tools/examples_rst.py
  tools/generate_formula_api.py
  tools/gh_api.py
Labels: type-cleanup

#4896 CLN: Fix and lint for potential double-negatives E713,E714
  statsmodels/examples/ex_generic_mle_tdist.py
  statsmodels/graphics/correlation.py
  statsmodels/graphics/regressionplots.py
  statsmodels/iolib/summary.py
  statsmodels/miscmodels/count.py
  statsmodels/miscmodels/nonlinls.py
  statsmodels/miscmodels/tests/test_generic_mle.py
  statsmodels/miscmodels/tmodel.py
  statsmodels/robust/robust_linear_model.py
  statsmodels/sandbox/archive/linalg_decomp_1.py
  statsmodels/sandbox/distributions/estimators.py
  statsmodels/sandbox/distributions/examples/matchdist.py
  statsmodels/sandbox/distributions/extras.py
  statsmodels/sandbox/distributions/genpareto.py
  statsmodels/sandbox/distributions/gof_new.py
  statsmodels/sandbox/distributions/multivariate.py
  statsmodels/sandbox/distributions/mv_normal.py
  statsmodels/sandbox/distributions/otherdist.py
  statsmodels/sandbox/gam.py
  statsmodels/sandbox/mcevaluate/arma.py
  statsmodels/sandbox/nonparametric/densityorthopoly.py
  statsmodels/sandbox/regression/ar_panel.py
  statsmodels/sandbox/regression/gmm.py
  statsmodels/sandbox/regression/kernridgeregress_class.py
  statsmodels/sandbox/regression/ols_anova_original.py
  statsmodels/sandbox/regression/try_ols_anova.py
  statsmodels/sandbox/stats/contrast_tools.py
  statsmodels/sandbox/stats/diagnostic.py
  statsmodels/sandbox/stats/runs.py
  statsmodels/sandbox/tests/maketests_mlabwrap.py
  statsmodels/sandbox/tools/mctools.py
  statsmodels/sandbox/tsa/garch.py
  statsmodels/stats/inter_rater.py
  statsmodels/stats/multitest.py
  statsmodels/stats/power.py
  statsmodels/stats/proportion.py
  statsmodels/tools/dump2module.py
  statsmodels/tools/tests/test_numdiff.py
  statsmodels/tsa/filters/filtertools.py
  statsmodels/tsa/varma_process.py
Labels: type-cleanup

#5214 MAINT: remove example-like file that could never run
  statsmodels/examples/koul_and_mc.py
Labels: comp-emplike, type-cleanup

#5267 MAINT: implement _wrap_derivative_exog for de-duplication
  statsmodels/discrete/discrete_model.py
Labels: comp-discrete, type-refactor

#4515 PERF: Simplify algebra in discrete_model
  statsmodels/discrete/discrete_model.py
Labels: comp-discrete, type-refactor

#4322 Make DiscreteResults Unchanging
  docs/source/dev/test_notes.rst
  statsmodels/discrete/tests/results/results_discrete.py
  statsmodels/discrete/tests/test_count_model.py
  statsmodels/discrete/tests/test_discrete.py
Labels: comp-discrete, type-refactor, type-test

#5569 ENH: Improve numerical stability of _ar_transparams, _ar_invtransparams
  statsmodels/tsa/tests/test_tsa_tools.py
  statsmodels/tsa/tsatools.py
Labels: comp-tsa, type-enh

#5652 ENH/BUG: Use intercept form of trend / exog in VARMAX start params (not mean form)
  statsmodels/tsa/statespace/varmax.py
Labels: comp-tsa, type-enh

#4988 [TST/MAINT] de-duplicate get_correction_factor code
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_sandwich_cov.py
Labels: comp-discrete, prio-low, type-test

#5680 ENH: Allow const idx to be found
  statsmodels/base/data.py
  statsmodels/base/tests/test_data.py
  statsmodels/iolib/tests/test_summary2.py
  statsmodels/regression/tests/test_regression.py
Labels: type-enh

#5709 TST: Fix bad bash
  .travis.yml
Labels: build

#5707 ENH: KPSS - detailed error message when lags > nobs
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: type-bug, type-enh

#5703 MAINT: confirm that docstring'd-out traceback no longer raises; remove
  statsmodels/sandbox/distributions/estimators.py
Labels: type-cleanup

#5701 MAINT: missing imports, typos, fixes several NameErrors
  statsmodels/__init__.py
  statsmodels/distributions/empirical_distribution.py
  statsmodels/sandbox/bspline.py
  statsmodels/sandbox/regression/runmnl.py
  statsmodels/sandbox/stats/stats_mstats_short.py
  statsmodels/sandbox/tests/maketests_mlabwrap.py
  statsmodels/sandbox/tools/mctools.py
  statsmodels/sandbox/tsa/example_arma.py
Labels: type-cleanup

#5684 BUG: fix df in summary for single constraint in wald_test_terms
  statsmodels/base/model.py
  statsmodels/base/tests/test_generic_methods.py
Labels: comp-base, type-bug

#5743 CLN: strict linting for results files in sandbox/regression/tests/
  lint.sh
  statsmodels/sandbox/regression/tests/results_gmm_griliches.py
  statsmodels/sandbox/regression/tests/results_gmm_griliches_iter.py
  statsmodels/sandbox/regression/tests/results_gmm_poisson.py
  statsmodels/sandbox/regression/tests/results_ivreg2_griliches.py
Labels: CI-random-failure

#5783 BUG: Ensure coint_johansen runs with 0 lags
  statsmodels/tsa/vector_ar/tests/test_coint.py
  statsmodels/tsa/vector_ar/vecm.py
Labels: comp-tsa, type-bug

#5781 CLN: Replace #5779
  lint.sh
  statsmodels/tsa/statespace/tests/test_collapsed.py
  statsmodels/tsa/statespace/tests/test_concentrated.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor.py
  statsmodels/tsa/statespace/tests/test_exact_diffuse_filtering.py
  statsmodels/tsa/statespace/tests/test_kalman.py
  statsmodels/tsa/statespace/tests/test_mlemodel.py
  statsmodels/tsa/statespace/tests/test_options.py
  statsmodels/tsa/statespace/tests/test_pickle.py
  statsmodels/tsa/statespace/tests/test_representation.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/statespace/tests/test_save.py
Labels: comp-tsa, type-cleanup

#5760 TST: test for intentionally emitted warnings, avoid some unintentional ones
  statsmodels/gam/tests/test_gam.py
  statsmodels/regression/tests/test_recursive_ls.py
  statsmodels/tools/tests/test_grouputils.py
  statsmodels/tsa/base/tests/test_base.py
  statsmodels/tsa/statespace/tests/test_simulate.py
  statsmodels/tsa/statespace/tests/test_structural.py
  statsmodels/tsa/tests/test_arima.py
Labels: build, type-test

#5789 BUG: GEE fit_history
  statsmodels/genmod/generalized_estimating_equations.py
  statsmodels/genmod/tests/test_gee.py
  statsmodels/genmod/tests/test_glm.py
Labels: type-bug
