Repository statsmodels/statsmodels, pull requests merged in 2020-08, with the labels that each got.

#6897 REF/DOC: api cleanup and improve docstrings in stats, round 3
  docs/source/stats.rst
  statsmodels/stats/oneway.py
  statsmodels/stats/proportion.py
  statsmodels/stats/rates.py
  statsmodels/stats/tests/test_oneway.py
  statsmodels/stats/tests/test_proportion.py
  statsmodels/stats/tests/test_rates_poisson.py
  statsmodels/stats/weightstats.py
Labels: comp-docs, comp-stats, type-refactor

#6938 ENH: Add improved .cdf() and .ppf() to discrete distributions
  .travis.yml
  statsmodels/distributions/discrete.py
  statsmodels/distributions/tests/test_discrete.py
Labels: comp-discrete, type-enh

#6940 TST: Improve count model tests
  statsmodels/discrete/tests/test_count_model.py
Labels: comp-discrete, type-test

#6892 ENH: added diagnostics test to ETS model
  statsmodels/tsa/exponential_smoothing/base.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: comp-tsa, type-enh

#6909 BUG: fix extend in VARMAX with trend
  statsmodels/tsa/statespace/tests/test_varmax.py
  statsmodels/tsa/statespace/varmax.py
Labels: comp-tsa, comp-tsa-statespace, type-bug

#6942 Make glm's predict function return numpy array even if exposure is a pandas series
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: comp-genmod, type-bug

#6941 REF: Change of BIC formula in GLM
  setup.cfg
  statsmodels/base/tests/test_shrink_pickle.py
  statsmodels/discrete/tests/test_constrained.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_constrained.py
  statsmodels/genmod/tests/test_glm.py
Labels: comp-genmod, type-refactor

#6937 ENH: Add dynamic factor model with EM algorithm, option for monthly/quarterly mixed frequency model
  statsmodels/tsa/api.py
  statsmodels/tsa/statespace/_filters/_conventional.pyx.in
  statsmodels/tsa/statespace/_filters/_inversions.pyx.in
  statsmodels/tsa/statespace/_filters/_univariate.pyx.in
  statsmodels/tsa/statespace/_filters/_univariate_diffuse.pyx.in
  statsmodels/tsa/statespace/_quarterly_ar1.py
  statsmodels/tsa/statespace/_representation.pyx.in
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/news.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/LICENSE
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/README.md
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/data/US/2016-06-29.csv
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/data/US/2016-06-29.xls
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/data/US/2016-07-29.csv
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/data/US/2016-07-29.xls
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/data/yyyy-mm-dd.xls
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/functions/dfm.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/functions/load_data.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/functions/load_spec.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/functions/remNaNs_spline.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/functions/summarize.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/functions/update_nowcast.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/test_DFM.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/test_DFM_blocks.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/test_news.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/test_news_blocks.m
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/test_spec.xls
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/Nowcasting/test_spec_blocks.xls
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_111.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_112.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_11F.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_221.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_222.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_22F.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_blocks_111.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_blocks_112.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_blocks_221.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_dfm_blocks_222.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_news_112.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_news_222.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_news_blocks_112.mat
  statsmodels/tsa/statespace/tests/results/frbny_nowcast/test_news_blocks_222.mat
  statsmodels/tsa/statespace/tests/test_dynamic_factor_mq.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor_mq_frbny_nowcast.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor_mq_monte_carlo.py
  statsmodels/tsa/statespace/tests/test_news.py
Labels: comp-tsa-statespace, type-enh

#6946 update pandas function in hp_filter example
  statsmodels/tsa/filters/hp_filter.py
Labels: Documentation, comp-docs

#6948 Prepare docs
  docs/source/duration.rst
  docs/source/release/version0.12.rst
  docs/source/statespace.rst
  docs/source/stats.rst
  docs/source/tsa.rst
  setup.py
  statsmodels/stats/meta_analysis.py
  statsmodels/tsa/deterministic.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: Documentation, comp-docs, maintenance

#6950 DOC: improve ETS / statespace documentation and higlights for v0.12
  docs/source/release/version0.12.rst
  docs/source/statespace.rst
  docs/source/tsa.rst
  statsmodels/tsa/api.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/exponential_smoothing.py
Labels: comp-docs, comp-tsa, comp-tsa-statespace

#6959 TST: Add test for offset exposure null
  statsmodels/genmod/tests/test_glm.py
Labels: comp-genmod, type-bug, type-bug-wrong

#6958 MAINT: Remove FutureWarnings
  setup.cfg
  statsmodels/stats/tests/test_descriptivestats.py
  statsmodels/tsa/holtwinters/model.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
Labels: comp-tsa, maintenance

#6964 MAINT: Catch warning
  statsmodels/stats/descriptivestats.py
  statsmodels/stats/tests/test_descriptivestats.py
Labels: comp-stats, maintenance

#6968 DOC: Update DeterministicProcess docs
  statsmodels/tsa/deterministic.py
Labels: Documentation, comp-docs

#7001 DOC: add new stats to release notes for 0.12
  docs/source/release/version0.12.rst
Labels: comp-docs

#7000 BUG: fix bug where mad ignores center if center is not callable
  statsmodels/robust/scale.py
  statsmodels/robust/tests/test_scale.py
Labels: comp-robust, type-bug

#7002 ENH: Allow custom bandwidth functions in KDEUnivariate fit
  lint.sh
  statsmodels/nonparametric/kde.py
  statsmodels/nonparametric/tests/test_kde.py
Labels: comp-nonparametric, type-enh

#7004 Update versions
  docs/source/_static/versions.json
Labels: Documentation, comp-docs
