Repository statsmodels/statsmodels, pull requests merged in 2020-10, with the labels that each got.

#7035 ENH: Ordinal model rebased2
  docs/source/_static/images/ordered_model.png
  docs/source/discretemod.rst
  docs/source/examples/landing.yml
  examples/notebooks/ordinal_regression.ipynb
  statsmodels/base/model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/examples/ex_ordered_model.py
  statsmodels/miscmodels/ordinal_model.py
  statsmodels/miscmodels/tests/results/__init__.py
  statsmodels/miscmodels/tests/results/ologit_ucla.csv
  statsmodels/miscmodels/tests/results/results_ordinal_model.py
  statsmodels/miscmodels/tests/test_ordinal_model.py
Labels: comp-discrete, type-enh

#7084 ENH: estimate noncentrality parameter for t, f and chi2
  statsmodels/stats/effect_size.py
  statsmodels/stats/tests/test_effectsize.py
Labels: comp-stats, type-enh

#7073 DOC: fix several doc issues in stats functions
  statsmodels/stats/oneway.py
  statsmodels/stats/rates.py
  statsmodels/stats/robust_compare.py
Labels: backport, comp-docs, comp-stats

#7088 DOC: augmented docstrings from statsmodels.base.optimizer
  statsmodels/base/optimizer.py
Labels: comp-base, comp-docs

#7116 BUG: don't raise error in impacts table if no news.
  statsmodels/tsa/statespace/news.py
Labels: backport, comp-tsa-statespace, type-bug

#7118 MAINT: Fix issues in master branches of dependencies
  statsmodels/miscmodels/ordinal_model.py
  statsmodels/tsa/exponential_smoothing/initialization.py
  statsmodels/tsa/holtwinters/_smoothers.py
  statsmodels/tsa/holtwinters/model.py
  statsmodels/tsa/holtwinters/results.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
Labels: backport, maintenance

#7122 DOC: v0.12.1 release notes
  docs/source/names_wordlist.txt
  docs/source/release/index.rst
  docs/source/release/version0.12.1.rst
Labels: comp-docs

#7121 MAINT: v0.12.1 backports
  appveyor.yml
  docs/source/names_wordlist.txt
  docs/source/release/index.rst
  docs/source/release/version0.12.1.rst
  examples/notebooks/stationarity_detrending_adf_kpss.ipynb
  statsmodels/base/optimizer.py
  statsmodels/regression/mixed_linear_model.py
  statsmodels/regression/tests/test_lme.py
  statsmodels/robust/scale.py
  statsmodels/robust/tests/test_scale.py
  statsmodels/stats/oneway.py
  statsmodels/stats/rates.py
  statsmodels/stats/robust_compare.py
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/specification.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/exponential_smoothing/initialization.py
  statsmodels/tsa/forecasting/tests/test_theta.py
  statsmodels/tsa/forecasting/theta.py
  statsmodels/tsa/holtwinters/_smoothers.py
  statsmodels/tsa/holtwinters/model.py
  statsmodels/tsa/holtwinters/results.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
  statsmodels/tsa/statespace/news.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/statespace/tests/test_varmax.py
  statsmodels/tsa/statespace/varmax.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
  statsmodels/tsa/tests/test_stattools.py
  tools/ci/azure_template.yml
Labels: maintenance
