Repository statsmodels/statsmodels, pull requests merged in 2020-07, with the labels that each got.

#6835 TST: stats moment_helpers use random state in unit test
  statsmodels/stats/tests/test_moment_helpers.py
Labels: comp-stats, type-test

#6852 Gh 6627
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: comp-genmod, type-bug

#6856 MAINT: Relax test tolerance
  statsmodels/tsa/statespace/tests/test_smoothing.py
Labels: comp-tsa, maintenance

#6859 DOC: add recent stats addition to docs
  docs/source/stats.rst
Labels: comp-docs, comp-stats

#6872 REF/DOC docs and refactor of recent stats
  docs/source/stats.rst
  statsmodels/stats/meta_analysis.py
  statsmodels/stats/multivariate.py
  statsmodels/stats/oneway.py
  statsmodels/stats/proportion.py
  statsmodels/stats/tests/test_meta.py
  statsmodels/stats/tests/test_multivariate.py
Labels: comp-docs, comp-stats, type-refactor

#6885 MAINT: Improve lint
  lint.sh
Labels: maintenance

#6894 MAINT: Ensure setuptools is imported first
  setup.cfg
  setup.py
Labels: maintenance

#6922 ENH: Add tool to simpligy documenting API in release notes
  statsmodels/stats/libqsturng/make_tbls.py
  statsmodels/stats/multivariate.py
  tools/enumerate-api.py
Labels: maintenance, type-enh

#6925 BUG: Correct IRF nobs with exog
  statsmodels/tsa/vector_ar/api.py
  statsmodels/tsa/vector_ar/hypothesis_test_results.py
  statsmodels/tsa/vector_ar/irf.py
  statsmodels/tsa/vector_ar/plotting.py
  statsmodels/tsa/vector_ar/svar_model.py
  statsmodels/tsa/vector_ar/tests/JMulTi_results/parse_jmulti_var_output.py
  statsmodels/tsa/vector_ar/tests/JMulTi_results/parse_jmulti_vecm_output.py
  statsmodels/tsa/vector_ar/tests/example_svar.py
  statsmodels/tsa/vector_ar/tests/results/results_svar_st.py
  statsmodels/tsa/vector_ar/tests/test_coint.py
  statsmodels/tsa/vector_ar/tests/test_svar.py
  statsmodels/tsa/vector_ar/tests/test_var.py
  statsmodels/tsa/vector_ar/tests/test_var_jmulti.py
  statsmodels/tsa/vector_ar/tests/test_vecm.py
  statsmodels/tsa/vector_ar/util.py
  statsmodels/tsa/vector_ar/var_model.py
  statsmodels/tsa/vector_ar/vecm.py
Labels: comp-tsa, comp-tsa-vector-ar, type-bug

#6926 ENH: Add Root Mean Square Percentage Error
  statsmodels/tools/eval_measures.py
  statsmodels/tools/tests/test_eval_measures.py
Labels: comp-tools, type-enh

#6927 ENH: Add get_prediction to AutoReg
  docs/source/tsa.rst
  examples/notebooks/autoregressions.ipynb
  statsmodels/base/data.py
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/base/prediction.py
  statsmodels/tsa/base/tests/test_prediction.py
  statsmodels/tsa/deterministic.py
  statsmodels/tsa/holtwinters/model.py
  statsmodels/tsa/holtwinters/results.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor.py
  statsmodels/tsa/tests/test_ar.py
Labels: comp-tsa, type-enh

#6931 DOC/MAINT: Fix doc errors and silence warning
  statsmodels/duration/hazard_regression.py
  statsmodels/regression/dimred.py
  statsmodels/robust/robust_linear_model.py
  statsmodels/tools/docstring.py
  statsmodels/tsa/_stl.pyx
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/specification.py
  statsmodels/tsa/statespace/mlemodel.py
Labels: Documentation, comp-docs, maintenance

#6911 ENH: Add STL Forecasting method
  docs/source/tsa.rst
  examples/notebooks/stl_decomposition.ipynb
  statsmodels/tsa/_stl.pyx
  statsmodels/tsa/api.py
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/forecasting/stl.py
  statsmodels/tsa/forecasting/tests/test_stl.py
Labels: comp-tsa, type-enh

#6882 ENH: get_prediction method for ETS
  examples/notebooks/ets.ipynb
  statsmodels/tsa/exponential_smoothing/base.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: comp-tsa, type-enh
