Repository statsmodels/statsmodels, pull requests merged in 2020-05, with the labels that each got.

#6678 ENH: stats.base, add HolderTuple, Holder class with indexing
  statsmodels/stats/base.py
  statsmodels/stats/tests/test_base.py
Labels: comp-stats, type-enh

#6675 ENH: add two independent proportion inference rebased
  statsmodels/stats/power.py
  statsmodels/stats/proportion.py
  statsmodels/stats/tests/test_proportion.py
Labels: comp-stats, type-enh

#6677 ENH: rates, poisson means two-sample comparison rebased
  statsmodels/stats/rates.py
  statsmodels/stats/tests/results/results_rates.py
  statsmodels/stats/tests/test_rates_poisson.py
Labels: comp-stats, type-enh

#6688 BUG: Fix covariance estimation in parameterless models
  statsmodels/tools/tools.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_exponential_smoothing.py
Labels: comp-tsa-statespace, type-bug

#4107 ENH: multivariate mean tests and confint
  statsmodels/stats/multivariate.py
  statsmodels/stats/tests/test_multivariate.py
Labels: comp-multivariate, comp-stats, type-enh

#6693 ENH: add covariance structure hypothesis tests
  statsmodels/stats/multivariate.py
  statsmodels/stats/tests/test_multivariate.py
Labels: comp-stats, type-enh

#6698 CLN: Fix state space linting errors.
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_exponential_smoothing.py
Labels: comp-tsa-statespace, type-cleanup

#6682 ENH/DOC: Notebook describing how to create state space custom models
  docs/source/_static/images/statespace_custom_models.png
  docs/source/examples/landing.yml
  examples/notebooks/statespace_custom_models.ipynb
Labels: comp-docs, comp-tsa-statespace, type-enh
