Repository statsmodels/statsmodels, pull requests merged in 2020-09, with the labels that each got.

#6971 ENH: add prob(x1 > x2) effect size measure, inference based on brunner munzel
  docs/source/stats.rst
  statsmodels/stats/nonparametric.py
  statsmodels/stats/tests/test_nonparametric.py
  statsmodels/tools/testing.py
Labels: comp-stats, type-enh

#7017 BUG: param names with higher order trend in VARMAX
  statsmodels/tsa/statespace/tests/test_varmax.py
  statsmodels/tsa/statespace/varmax.py
Labels: backport, comp-tsa-statespace, type-bug

#7020 REF: Don't validate specification in SARIMAX when cloning to get extended time varying matrices
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/specification.py
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
Labels: backport, comp-tsa-statespace, type-bug

#7028 BUG: Correct axis None case
  statsmodels/robust/scale.py
  statsmodels/robust/tests/test_scale.py
Labels: backport, comp-robust, type-bug

#7025 BUG: Ensure bestlag is defined in autolag
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: backport, comp-tsa, type-bug
