Repository statsmodels/statsmodels, pull requests merged in 2020-04, with the labels that each got.

#6614 DOC/ENH: example notebook (r): stationarity and detrending (ADF/KPSS)
  docs/source/_static/images/stationarity_detrending_adf_kpss.png
  docs/source/examples/landing.yml
  examples/notebooks/stationarity_detrending_adf_kpss.ipynb
Labels: comp-docs, comp-tsa

#6560 ENH: Holt-Winters simulations
  examples/notebooks/exponential_smoothing.ipynb
  statsmodels/tsa/holtwinters.py
  statsmodels/tsa/tests/test_holtwinters.py
Labels: comp-tsa, type-enh

#6632 ENH: add meta-analysis (basic methods)
  examples/notebooks/metaanalysis1.ipynb
  statsmodels/stats/meta_analysis.py
  statsmodels/stats/tests/results/results_meta.py
  statsmodels/stats/tests/test_meta.py
Labels: comp-stats, type-enh
