Repository statsmodels/statsmodels, pull requests merged in 2020-02, with the labels that each got.

#6475 BUG: Fix exposure/offset handling in GEEResults
  statsmodels/genmod/generalized_estimating_equations.py
  statsmodels/genmod/generalized_linear_model.py
Labels: backport, comp-genmod, type-bug

#6433 TST/BUG: use reset_randomstate
  statsmodels/tsa/statespace/tests/test_exact_diffuse_filtering.py
Labels: backport, comp-tsa-statespace, type-test

#6515 BUG: fix #6511
  statsmodels/nonparametric/bandwidths.py
  statsmodels/nonparametric/tests/test_bandwidths.py
Labels: backport, comp-nonparametric, type-bug

#6520 BUG: fix GAM for 1-dim exog_linear
  statsmodels/gam/generalized_additive_model.py
  statsmodels/gam/tests/test_penalized.py
Labels: backport, comp-gam, type-bug

#6521 REF/BUG: don't attach patsy constraint instance
  statsmodels/base/_constraints.py
  statsmodels/base/_parameter_inference.py
  statsmodels/base/tests/test_shrink_pickle.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_constrained.py
  statsmodels/genmod/generalized_linear_model.py
Labels: comp-base, comp-discrete, comp-genmod, type-bug, type-enh

#6438 BUG: Change default optimizer for glm/ridge and make it user-settable
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: backport, comp-genmod, type-bug

#6501 ENH: state space: add "Cholesky factor algorithm" simulation smoothing
  .gitignore
  docs/source/_static/images/statespace_tvpvar_mcmc_cfa.png
  docs/source/examples/landing.yml
  examples/notebooks/statespace_tvpvar_mcmc_cfa.ipynb
  setup.py
  statsmodels/tsa/statespace/_cfa_simulation_smoother.pxd
  statsmodels/tsa/statespace/_cfa_simulation_smoother.pyx.in
  statsmodels/tsa/statespace/_representation.pxd
  statsmodels/tsa/statespace/_representation.pyx.in
  statsmodels/tsa/statespace/cfa_simulation_smoother.py
  statsmodels/tsa/statespace/simulation_smoother.py
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_Omega_11.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_Omega_22.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_S10.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_Si0.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_beta.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_invP.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_posterior_mean.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_state_variates.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_test.m
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_v10.csv
  statsmodels/tsa/statespace/tests/results/cfa_tvpvar_vi0.csv
  statsmodels/tsa/statespace/tests/test_cfa_simulation_smoothing.py
  statsmodels/tsa/statespace/tests/test_cfa_tvpvar.py
  statsmodels/tsa/statespace/tools.py
Labels: comp-tsa-statespace, type-enh

#6536 MAINT: Relax tolerance on test that occasionally fails
  statsmodels/tsa/statespace/tests/test_exact_diffuse_filtering.py
Labels: maintenance

#6534 MAINT: Relax tolerance on test that occasionally fails
  statsmodels/tsa/statespace/tests/test_exact_diffuse_filtering.py
Labels: maintenance, type-test

#6535 MAINT: Restrict to Python 3.5+
  docs/source/release/index.rst
  docs/source/release/verion0.11.1.rst
  docs/source/release/version0.11.1.rst
  setup.py
Labels: build, maintenance

#6528 DOC: Bayesian estimation of SARIMAX using PyMC3 NUTS
  docs/source/_static/images/statespace_sarimax_pymc3.png
  docs/source/examples/landing.yml
  examples/notebooks/statespace_sarimax_pymc3.ipynb
  tools/ci/docbuild_install.sh
Labels: comp-docs, comp-tsa-statespace
