Repository statsmodels/statsmodels, pull requests merged in 2020-11, with the labels that each got.

#7117 Travis CI: Use services: xvfb and $TRAVIS_PYTHON_VERSION
  .travis.yml
Labels: maintenance

#7094 ENH: diagnostic, post-estimation for binary, multinomial and ordinal models
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/miscmodels/ordinal_model.py
  statsmodels/miscmodels/tests/results/results_ordinal_model.py
  statsmodels/miscmodels/tests/test_ordinal_model.py
  statsmodels/stats/diagnostic_gen.py
Labels: comp-discrete, comp-genmod, topic-diagnostic, type-enh

#7174 A small typo in GAM
  statsmodels/gam/generalized_additive_model.py
Labels: Documentation, comp-genmod

#7183 BUG: Remove unnecessary squeeze in ETS
  statsmodels/tsa/exponential_smoothing/base.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: comp-tsa, comp-tsa-statespace, type-bug
