Repository statsmodels/statsmodels, pull requests merged in 2020-06, with the labels that each got.

#6768 BUG: dataframe/series concatenation in statespace results append
  statsmodels/tsa/statespace/tests/test_forecasting.py
  statsmodels/tsa/statespace/tools.py
Labels: backport, comp-tsa-statespace, type-bug

#6765 ENH: Decomposition of forecast updates in state space models due to the "news"
  docs/source/examples/landing.yml
  examples/notebooks/statespace_news.ipynb
  statsmodels/iolib/table.py
  statsmodels/tsa/statespace/dynamic_factor.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/news.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/statespace/tests/test_impulse_responses.py
  statsmodels/tsa/statespace/tests/test_news.py
  statsmodels/tsa/statespace/tests/test_representation.py
  statsmodels/tsa/statespace/tests/test_smoothing.py
  statsmodels/tsa/statespace/varmax.py
Labels: comp-tsa-statespace, type-enh

#6770 BUG: pass cov_type, cov_kwargs through ARIMA.fit
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/tests/test_model.py
Labels: backport, comp-tsa-statespace, type-bug

#6800 DOC: Add `news` example notebook image.
  docs/source/_static/images/statespace_news.png
Labels: comp-tsa-statespace, type-bug

#6797 ENH: improve univariate smoother performance
  statsmodels/tsa/statespace/_kalman_filter.pxd
  statsmodels/tsa/statespace/_kalman_filter.pyx.in
  statsmodels/tsa/statespace/_kalman_smoother.pyx.in
  statsmodels/tsa/statespace/_representation.pxd
  statsmodels/tsa/statespace/_representation.pyx.in
  statsmodels/tsa/statespace/_simulation_smoother.pyx.in
  statsmodels/tsa/statespace/_smoothers/_univariate.pyx.in
  statsmodels/tsa/statespace/_smoothers/_univariate_diffuse.pyx.in
  statsmodels/tsa/statespace/tests/test_multivariate_switch_univariate.py
Labels: comp-tsa-statespace, type-enh

#6806 BUG: Fix access to normal_reference_constant
  statsmodels/nonparametric/bandwidths.py
  statsmodels/nonparametric/tests/test_bandwidths.py
Labels: comp-nonparametric, type-bug

#6699 ENH: New exponential smoothing implementation
  examples/notebooks/ets.ipynb
  setup.py
  statsmodels/tsa/exponential_smoothing/_ets_smooth.pyx
  statsmodels/tsa/exponential_smoothing/base.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/tests/results/fit_ets.R
  statsmodels/tsa/tests/results/fit_ets_results.json
  statsmodels/tsa/tests/results/fit_ets_results_nonseasonal.json
  statsmodels/tsa/tests/results/fit_ets_results_seasonal.json
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: comp-tsa, type-enh

#6832 BUG: error in append for ARIMA model with trend
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/specification.py
  statsmodels/tsa/arima/tests/test_model.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_concentrated.py
Labels: comp-tsa, type-bug

#6789 ENH: Stats robust rebased2
  statsmodels/stats/contrast.py
  statsmodels/stats/oneway.py
  statsmodels/stats/robust_compare.py
  statsmodels/stats/tests/test_oneway.py
  statsmodels/stats/tests/test_robust_compare.py
  statsmodels/tools/testing.py
Labels: comp-stats, type-enh
