Repository statsmodels/statsmodels, pull requests merged in 2021-08, with the labels that each got.

#7618 spelling error in docs fixed
  statsmodels/regression/linear_model.py
Labels: Documentation, comp-regression

#7617 MAINT: Silence future warnings
  statsmodels/miscmodels/tests/test_tarma.py
  statsmodels/stats/tests/test_descriptivestats.py
Labels: maintenance

#7620 MAINT: Avoid passing bad optimization param
  statsmodels/base/optimizer.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: maintenance

#7641 MAINT: Pin matplotlib
  tools/ci/azure/azure_template_posix.yml
Labels: maintenance

#7648 BUG/REF copula another round for 0.13
  docs/source/distributions.rst
  examples/notebooks/copula.ipynb
  statsmodels/distributions/copula/api.py
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/copula/copulas.py
  statsmodels/distributions/copula/depfunc_ev.py
  statsmodels/distributions/copula/elliptical.py
  statsmodels/distributions/copula/extreme_value.py
  statsmodels/distributions/copula/other_copulas.py
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/distributions/copula/tests/test_model.py
  statsmodels/distributions/copula/transforms.py
  statsmodels/distributions/tests/test_bernstein.py
  statsmodels/tsa/api.py
Labels: comp-distributions, type-bug, type-refactor

#7668 BUG: improve sidak multipletest precision close to zero
  statsmodels/stats/multitest.py
  statsmodels/stats/tests/test_multi.py
Labels: type-bug, comp-stats

#7669 BUG: proportions_chisquare prevent integer overflow
  statsmodels/stats/proportion.py
  statsmodels/stats/tests/test_proportion.py
Labels: type-bug, comp-stats

#7670 BUG: ZI predict, fix offset default if None, allow exog_infl None if constant
  statsmodels/discrete/count_model.py
  statsmodels/discrete/tests/test_count_model.py
Labels: type-enh, comp-discrete, type-bug-wrong

#7673 ENH/BUG: graphics.plot_partregress add eval_env options
  statsmodels/graphics/regressionplots.py
  statsmodels/graphics/tests/test_regressionplots.py
Labels: type-bug, type-enh, comp-graphics
