Repository statsmodels/statsmodels, pull requests merged in 2021-01, with the labels that each got.

#7239 DOC: Improve doc strings
  docs/source/spelling_wordlist.txt
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/stattools.py
Labels: backport

#7230 BUG quantile only squeeze weights if more than 1D
  statsmodels/stats/tests/test_weightstats.py
  statsmodels/stats/weightstats.py
Labels: comp-stats, type-bug

#7229 BUG: raise if non-binary endog in Probit
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_discrete.py
Labels: backport, comp-discrete, type-bug

#7247 DOC: Improve docstring formatting
  docs/source/discretemod.rst
  statsmodels/base/covtype.py
  statsmodels/regression/linear_model.py
Labels: Documentation, comp-base, comp-regression

#7249 BUG: Enable pickling of STL object
  statsmodels/tsa/_stl.pyx
  statsmodels/tsa/tests/test_stl.py
Labels: backport, comp-tsa, type-bug

#7250 ENH/BUG: update ARIMA models trend term handling
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/tests/test_model.py
  statsmodels/tsa/statespace/sarimax.py
Labels: comp-tsa, comp-tsa-statespace, type-bug-wrong, type-enh

#7243 ENH: Add small sample df adjustment option to test_serial_correlation
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_mlemodel.py
Labels: comp-tsa, comp-tsa-statespace, type-enh

#7257 ENH/BUG: work on copulas
  statsmodels/distributions/tests/test_copula.py
  statsmodels/sandbox/distributions/copula.py
Labels: comp-distributions, type-bug, type-enh

#7270 TST/MAINT: make chisquare test for genpoisson more accurate
  statsmodels/discrete/tests/test_discrete.py
Labels: backport, maintenance, type-test

#7228 BUG/ENH: Poisson offset rebased
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_count_model.py
Labels: backport, comp-discrete, type-bug

#7279 BUG/TST: StratifiedTable allow int array, silence warnings in unit tests
  statsmodels/stats/contingency_tables.py
  statsmodels/stats/tests/test_contingency_tables.py
Labels: backport, comp-stats, type-bug

#7281 BUG/TST: fix _mean, _var in distributions ZI count models
  statsmodels/distributions/discrete.py
  statsmodels/distributions/tests/test_discrete.py
Labels: backport, comp-distributions, type-bug

#7283 qaic for GLM
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: comp-genmod, type-enh

#7286 BUG/PERF: Improve probit and cauchy link
  statsmodels/discrete/tests/test_sandwich_cov.py
  statsmodels/genmod/families/family.py
  statsmodels/genmod/families/links.py
  statsmodels/genmod/families/tests/test_link.py
Labels: Performance, backport, comp-genmod, type-enh

#7259 BUG: Correct LM Test
  statsmodels/stats/diagnostic.py
Labels: backport, comp-stats, type-bug-wrong

#7293 Rls note
  docs/source/release/index.rst
  docs/source/release/version0.12.2.rst
  examples/notebooks/robust_models_1.ipynb
  examples/notebooks/stl_decomposition.ipynb
  examples/notebooks/variance_components.ipynb
  statsmodels/robust/scale.py
  tools/releasing/release_note.py
Labels: Documentation, comp-docs

#7297 DOC: add a missing parameter description in UnobservedComponentsResults
  statsmodels/tsa/statespace/structural.py
Labels: comp-docs, comp-tsa-statespace

#7298 DOC/ENH: make it easier to find the page of UnobservedComponentsResults
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/structural.py
Labels: Documentation, comp-docs, comp-tsa-statespace
