Repository statsmodels/statsmodels, pull requests merged in 2021-09, with the labels that each got.

#7652 MAINT: Temporarily change the default RNG in check_random_state
  docs/source/distributions.rst
  statsmodels/distributions/copula/copulas.py
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/tools/rng_qrng.py
Labels: comp-distributions, maintenance

#7287 REF: change default derivative in CDFLink
  statsmodels/distributions/copula/depfunc_ev.py
  statsmodels/genmod/families/links.py
  statsmodels/genmod/families/tests/test_link.py
  statsmodels/tools/numdiff.py
  statsmodels/tools/tests/test_numdiff.py
Labels: type-enh, comp-genmod, comp-tools, prio-elev

#7682 ENH: McFadden and Cox&Snell Pseudo R squared to GLMResults
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/results/results_glm.py
  statsmodels/genmod/tests/test_glm.py
Labels: type-enh, comp-genmod

#7694 ENH: quantile regression use dimension of x matrix rather than rank
  statsmodels/regression/quantile_regression.py
  statsmodels/regression/tests/test_quantile_regression.py
Labels: type-bug, comp-regression

#7696 ENH: add option for slim summary in OLS results
  statsmodels/regression/linear_model.py
  statsmodels/regression/tests/test_regression.py
Labels: type-enh, comp-regression

#7619 ENH: Improve ARDL and UECM
  docs/source/tsa.rst
  examples/notebooks/autoregressive_distributed_lag.ipynb
  examples/notebooks/copula.ipynb
  statsmodels/distributions/copula/copulas.py
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/ardl/__init__.py
  statsmodels/tsa/ardl/_pss_critical_values/__init__.py
  statsmodels/tsa/ardl/_pss_critical_values/pss-process.py
  statsmodels/tsa/ardl/_pss_critical_values/pss.py
  statsmodels/tsa/ardl/model.py
  statsmodels/tsa/ardl/pss_critical_values.py
  statsmodels/tsa/ardl/tests/__init__.py
  statsmodels/tsa/ardl/tests/test_ardl.py
Labels: comp-tsa, type-enh

#7697 ENH add tricube kernel
  statsmodels/nonparametric/kde.py
  statsmodels/nonparametric/tests/test_kernels.py
  statsmodels/sandbox/nonparametric/kernels.py
Labels: type-enh, comp-nonparametric

#7698 ENH: Fix lilliefors results for single-column DataFrames
  statsmodels/stats/_lilliefors.py
  statsmodels/stats/tests/test_lilliefors.py
Labels: type-enh, comp-stats, type-bug-wrong

#7701 MAINT: Update TSA Api
  docs/source/api.rst
  statsmodels/tsa/api.py
Labels: comp-tsa, maintenance

#7703 BUG: Factor fit ml em resets seed (rebased)
  statsmodels/multivariate/factor.py
  statsmodels/multivariate/tests/test_ml_factor.py
Labels: type-bug, comp-multivariate

#7708 MAINT: Update versions file
  docs/source/conf.py
Labels: comp-docs, maintenance, Documentation

#7709 BUG: Correct ArmaProcess.from_estimation
  statsmodels/tsa/arima_process.py
  statsmodels/tsa/tests/test_arima_process.py
Labels: comp-tsa, type-bug

#7710 BUG: describe / Description do not return percentiles
  statsmodels/stats/descriptivestats.py
  statsmodels/stats/tests/test_descriptivestats.py
Labels: type-bug, comp-stats

#7721 ENH: Added fft to ccovf and ccf
  statsmodels/tools/validation/validation.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-enh, Performance

#7723 REF/ENH: more copula improvements for 0.13
  examples/notebooks/copula.ipynb
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/copula/copulas.py
  statsmodels/distributions/copula/elliptical.py
  statsmodels/distributions/copula/extreme_value.py
  statsmodels/distributions/copula/other_copulas.py
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/distributions/copula/tests/test_model.py
  statsmodels/distributions/tests/test_bernstein.py
Labels: comp-distributions, type-enh

#7726 DOC: Update release note
  docs/source/release/version0.13.0.rst
  tools/releasing/release_note.py
Labels: comp-docs, Documentation

#7727 DOC: improve docs and docstrings, mainly for recent additions
  docs/source/other_models.rst
  statsmodels/base/model.py
  statsmodels/miscmodels/ordinal_model.py
  statsmodels/othermod/betareg.py
Labels: comp-docs

#7739 MAINT: Fix style issue
  tools/dataset_rst.py
  tools/export_notebooks_to_python.py
  tools/generate_formula_api.py
  tools/nbgenerate.py
  tools/releasing/enumerate-api.py
  tools/releasing/release_note.py
  tools/validate_docstrings.py
Labels: comp-tools, maintenance

#7738 DOC: Correct MultivariateTestResults doc string
  statsmodels/multivariate/multivariate_ols.py
Labels: comp-multivariate, Documentation

#7732 DOC: api.py, docstring improvements
  docs/source/api.rst
  docs/source/stats.rst
  statsmodels/base/model.py
  statsmodels/distributions/copula/api.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/miscmodels/ordinal_model.py
  statsmodels/nonparametric/api.py
  statsmodels/nonparametric/kernels_asymmetric.py
  statsmodels/othermod/betareg.py
  statsmodels/stats/api.py
  statsmodels/stats/nonparametric.py
  statsmodels/stats/stattools.py
Labels: comp-docs, maintenance

#6921 ENH: Add Helper function to solve for polynomial coefficients from roots for ARIMA
  statsmodels/tsa/arima_process.py
  statsmodels/tsa/tests/test_arima_process.py
Labels: comp-tsa, type-enh

#7742 MAINT: Final issues in `__all__`
  statsmodels/api.py
  statsmodels/base/l1_cvxopt.py
  statsmodels/distributions/copula/api.py
  statsmodels/emplike/api.py
  statsmodels/formula/api.py
  statsmodels/gam/api.py
  statsmodels/othermod/api.py
  statsmodels/stats/api.py
  statsmodels/tsa/innovations/api.py
  statsmodels/tsa/vector_ar/api.py
  tools/check_api.py
Labels: maintenance

#7743 DOC: add to release notes, smaller doc fixes, references
  docs/source/release/version0.13.0.rst
  statsmodels/miscmodels/ordinal_model.py
  statsmodels/nonparametric/kernels_asymmetric.py
  statsmodels/othermod/betareg.py
  statsmodels/stats/nonparametric.py
  statsmodels/stats/proportion.py
Labels: comp-docs, maintenance

#7748 BUG: fix summary().as_latex, line in top table dropped
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/iolib/summary.py
  statsmodels/regression/tests/test_regression.py
Labels: type-bug, comp-io

#7750 ENH: Warn kwargs glm
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: type-enh, comp-genmod

#7751 REF: GLM init invalid kwargs use ValueWarning
  statsmodels/base/_penalized.py
  statsmodels/base/model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/distributions/copula/archimedean.py
  statsmodels/gam/tests/test_penalized.py
  statsmodels/genmod/generalized_estimating_equations.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_gee.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/regression/linear_model.py
  statsmodels/regression/quantile_regression.py
  statsmodels/regression/tests/test_predict.py
  statsmodels/regression/tests/test_regression.py
  statsmodels/robust/robust_linear_model.py
Labels: comp-genmod, type-refactor
