Repository statsmodels/statsmodels, pull requests merged in 2021-02, with the labels that each got.

#7311 Update README.rst
  README.rst
Labels: Documentation, comp-docs

#7320 BUG: ExponentialSmoothing error for estimated initialization_method with fewer than 10 observations
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/exponential_smoothing/initialization.py
  statsmodels/tsa/holtwinters/model.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: backport, comp-tsa, type-bug

#7322 CLN: Linting error for line length.
  statsmodels/genmod/families/family.py
Labels: type-cleanup

#7333 BUG: fix ETS logL if negative yhat and errors=M
  statsmodels/tsa/exponential_smoothing/ets.py
Labels: backport, comp-tsa, type-bug
