Repository statsmodels/statsmodels, pull requests merged in 2021-06, with the labels that each got.

#7475 Specify impulse to impulse_responses in VARMAX notebook
  examples/notebooks/statespace_varmax.ipynb
Labels: Documentation, comp-docs, comp-tsa-statespace

#7497 ENH: Add fixed_params to Hannan Rissanen (GH7202)
  docs/source/release/version0.13.rst
  statsmodels/tsa/arima/estimators/hannan_rissanen.py
  statsmodels/tsa/arima/estimators/tests/test_hannan_rissanen.py
Labels: comp-tsa, type-enh

#7488 ENH: add discretized count distribution
  docs/source/distributions.rst
  statsmodels/base/model.py
  statsmodels/distributions/discrete.py
  statsmodels/distributions/tests/test_discrete.py
Labels: comp-discrete, comp-distributions, type-enh

#7506 ENH: Column name can be passed as an argument in `impulse_responses` in `VARMAX`
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_impulse_responses.py
Labels: comp-tsa-statespace, type-enh

#7502 ENH: Enable ARIMA.fit(method='hannan_rissanen') with fixed parameters (GH7501)
  docs/source/release/version0.13.rst
  statsmodels/tsa/arima/estimators/hannan_rissanen.py
  statsmodels/tsa/arima/estimators/tests/test_hannan_rissanen.py
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arima/tests/test_model.py
Labels: comp-tsa, type-enh

#7495 MAINT: Avoid future issues in pandas
  statsmodels/genmod/tests/results/results_glm.py
  statsmodels/stats/descriptivestats.py
  statsmodels/tools/tools.py
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
  statsmodels/tsa/tests/test_ar.py
  statsmodels/tsa/tsatools.py
Labels: maintenance
