Repository statsmodels/statsmodels, pull requests merged in 2021-07, with the labels that each got.

#7536 MAINT: Remove 32-bit testing
  tools/ci/azure/azure_template_windows.yml
  tools/nbgenerate.py
Labels: maintenance

#7539 DOC: Fix errors in theta notebook
  examples/notebooks/theta-model.ipynb
Labels: Documentation, comp-docs

#7538 BUG: Ensure attributes exist
  statsmodels/tsa/statespace/sarimax.py
  statsmodels/tsa/statespace/tests/test_save.py
Labels: comp-tsa-statespace, type-bug

#7535 BUG/ENH fix and enh GLM, family get_distribution
  statsmodels/genmod/families/family.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
Labels: comp-genmod, type-bug, type-enh

#7581 ENH: Add support for pickling for generic path-like objects
  statsmodels/base/model.py
  statsmodels/iolib/openfile.py
  statsmodels/iolib/smpickle.py
  statsmodels/iolib/tests/test_pickle.py
Labels: comp-io, type-enh

#7543 Betareg rebased3 Beta regression
  docs/source/othermodels.rst
  statsmodels/base/data.py
  statsmodels/base/model.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/othermod/__init__.py
  statsmodels/othermod/api.py
  statsmodels/othermod/betareg.py
  statsmodels/othermod/tests/__init__.py
  statsmodels/othermod/tests/results/__init__.py
  statsmodels/othermod/tests/results/foodexpenditure.csv
  statsmodels/othermod/tests/results/methylation-test.csv
  statsmodels/othermod/tests/results/resid_methylation.csv
  statsmodels/othermod/tests/results/results_betareg.py
  statsmodels/othermod/tests/test_beta.py
Labels: comp-othermod, type-enh

#7587 DOC: Correct docstring
  statsmodels/tsa/deterministic.py
Labels: Documentation, comp-docs, comp-tsa

#7586 REF/BUG generic likelihood LLRMixin use df_resid instead of df_model for llr_pvalue
  statsmodels/base/model.py
  statsmodels/othermod/tests/test_beta.py
Labels: comp-base, comp-othermod, type-bug, type-refactor

#7589 BUG: Ensure warning does not raise
  statsmodels/tsa/exponential_smoothing/base.py
  statsmodels/tsa/regime_switching/markov_switching.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tools.py
Labels: comp-tsa-statespace, type-bug

#7595 BUG: regression, allow remove_data to remove wendog, wexog, wresid
  statsmodels/base/tests/test_shrink_pickle.py
  statsmodels/regression/linear_model.py
  statsmodels/regression/tests/test_predict.py
Labels: comp-regression, type-bug

#7511 Allow remove_data to work when an attribute is not implemented
  statsmodels/base/model.py
  statsmodels/regression/rolling.py
  statsmodels/regression/tests/test_quantile_regression.py
Labels: comp-base, comp-regression, prio-high, type-bug

#7594 Enh glm loglog
  docs/source/glm.rst
  statsmodels/genmod/families/family.py
  statsmodels/genmod/families/links.py
  statsmodels/genmod/families/tests/test_link.py
Labels: comp-genmod, type-enh

#7408 Copula 7254 rebased
  statsmodels/compat/_scipy_multivariate_t.py
  statsmodels/compat/scipy.py
  statsmodels/distributions/copula/api.py
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/copula/copulas.py
  statsmodels/distributions/copula/elliptical.py
  statsmodels/distributions/copula/other_copulas.py
  statsmodels/distributions/copula/tests/copula_r_tests.rst
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/distributions/copula/transforms.py
  statsmodels/distributions/tools.py
Labels: comp-distributions, type-enh

#7607 DOC: copula in user guide and examples
  docs/source/_static/images/copula.png
  docs/source/distributions.rst
  docs/source/examples/landing.yml
  examples/notebooks/copula.ipynb
  statsmodels/distributions/copula/copulas.py
Labels: Documentation, comp-docs

#7612 BUG/DOC: Clarify which series is on x-axis
  setup.cfg
  statsmodels/graphics/agreement.py
  statsmodels/graphics/api.py
  statsmodels/graphics/boxplots.py
  statsmodels/graphics/dotplots.py
  statsmodels/graphics/factorplots.py
  statsmodels/graphics/gofplots.py
  statsmodels/graphics/mosaicplot.py
  statsmodels/graphics/plot_grids.py
  statsmodels/graphics/plottools.py
  statsmodels/graphics/regressionplots.py
  statsmodels/graphics/tests/test_agreement.py
  statsmodels/graphics/tests/test_boxplots.py
  statsmodels/graphics/tests/test_correlation.py
  statsmodels/graphics/tests/test_dotplot.py
  statsmodels/graphics/tests/test_factorplots.py
  statsmodels/graphics/tests/test_gofplots.py
  statsmodels/graphics/tests/test_regressionplots.py
  statsmodels/graphics/tukeyplot.py
Labels: Documentation, comp-docs, comp-graphics, type-bug

#7611 ENH: Improve ARDL and documentation
  docs/source/_static/images/autoregressive_distributed_lag.png
  docs/source/examples/landing.yml
  docs/source/tsa.rst
  examples/notebooks/autoregressions.ipynb
  examples/notebooks/autoregressive_distributed_lag.ipynb
  lint.sh
  statsmodels/base/model.py
  statsmodels/tsa/api.py
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/ardl.py
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/arma_mle.py
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/holtwinters/model.py
  statsmodels/tsa/holtwinters/results.py
  statsmodels/tsa/mlemodel.py
  statsmodels/tsa/tests/test_ar.py
  statsmodels/tsa/tests/test_ardl.py
  statsmodels/tsa/vector_ar/hypothesis_test_results.py
  statsmodels/tsa/vector_ar/svar_model.py
  statsmodels/tsa/vector_ar/var_model.py
Labels: Documentation, comp-docs, comp-tsa, type-enh

#7608 ENH: random number generation wrapper for rng, qrng
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/copula/copulas.py
  statsmodels/distributions/copula/other_copulas.py
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/tools/rng_qrng.py
Labels: comp-distributions, comp-docs
