Repository statsmodels/statsmodels, pull requests merged in 2021-10, with the labels that each got.

#7770 DOC: Fix lowess notebook
  INSTALL.txt
  docs/source/_static/images/lowess.png
  docs/source/examples/landing.yml
  docs/source/install.rst
  examples/notebooks/lowess.ipynb
  examples/python/lowess.py
  requirements.txt
  setup.py
Labels: comp-docs, Documentation

#7772 ENH: add options to meta-analysis plot_forest
  statsmodels/stats/meta_analysis.py
  statsmodels/stats/tests/test_meta.py
Labels: type-enh, comp-stats

#7774 DOC: Final update to change log
  docs/source/release/version0.13.0.rst
Labels: Documentation

#7825 Discrete scorefactor offset rebased3
  statsmodels/base/_parameter_inference.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_constrained.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/discrete/tests/test_sandwich_cov.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/stats/outliers_influence.py
Labels: type-enh, comp-base, comp-genmod, comp-discrete
