Repository statsmodels/statsmodels, pull requests merged in 2021-04, with the labels that each got.

#7400 MAINT: Fix UserWarning: marker is redundantly defined (Matplotlib v 3.4.1)
  statsmodels/graphics/gofplots.py
Labels: comp-graphics

#7404 MAINT: Fix descriptive stats with extension dtypes
  statsmodels/stats/descriptivestats.py
Labels: maintenance

#7405 MAINT: Fix pip pre test failures
  setup.cfg
  statsmodels/genmod/tests/test_gee.py
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/base/datetools.py
  statsmodels/tsa/base/tests/test_tsa_indexes.py
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/tests/test_ar.py
  statsmodels/tsa/tests/test_stl.py
Labels: maintenance

#7409 ENH: changed month abbreviations with localization
  statsmodels/graphics/tests/test_tsaplots.py
  statsmodels/graphics/tsaplots.py
Labels: comp-tsa, type-enh

#7413 BUG: Fix axis labels in qqplots
  statsmodels/graphics/gofplots.py
  statsmodels/graphics/tests/test_gofplots.py
Labels: comp-graphics, type-bug

#7416 MAINT: Fix for upstream changes in PyMC3 notebook
  examples/notebooks/statespace_sarimax_pymc3.ipynb
Labels: Documentation, comp-docs, maintenance

#7422 BUG: Runs test numeric cutoff error
  statsmodels/sandbox/stats/runs.py
  statsmodels/sandbox/stats/tests/test_runs.py
Labels: comp-stats, type-bug

#7425 MAINT: Silence warnings and future compat
  examples/notebooks/statespace_custom_models.ipynb
  examples/notebooks/stationarity_detrending_adf_kpss.ipynb
  examples/notebooks/stl_decomposition.ipynb
  examples/notebooks/tsa_arma_0.ipynb
  examples/notebooks/variance_components.ipynb
  statsmodels/discrete/discrete_model.py
  statsmodels/genmod/cov_struct.py
  statsmodels/genmod/tests/test_gee.py
  statsmodels/graphics/gofplots.py
  statsmodels/graphics/tests/test_gofplots.py
  statsmodels/graphics/tests/test_mosaicplot.py
  statsmodels/miscmodels/tests/test_ordinal_model.py
  statsmodels/regression/linear_model.py
  statsmodels/robust/scale.py
  statsmodels/robust/tests/test_rlm.py
  statsmodels/sandbox/stats/multicomp.py
  statsmodels/tsa/base/datetools.py
  statsmodels/tsa/forecasting/tests/test_stl.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_sarimax.py
  statsmodels/tsa/vector_ar/tests/test_var.py
  tools/ci/azure/azure_template_windows.yml
Labels: maintenance
