Repository statsmodels/statsmodels, pull requests merged in 2021-12, with the labels that each got.

#7912 ENH: MLEInfluence for two-part models, extra params, BetaModel
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/othermod/betareg.py
  statsmodels/othermod/tests/test_beta.py
  statsmodels/stats/outliers_influence.py
Labels: type-enh, topic-diagnostic, comp-othermod

#7933 DOC: Correct STL api
  statsmodels/tsa/_stl.pyx
Labels: comp-tsa, comp-docs

#7939 TST: Add tests for pandas compat
  statsmodels/compat/tests/test_pandas.py
  statsmodels/tsa/forecasting/stl.py
Labels: type-test, Documentation, backport

#7930 ENH: Option of initial values whe simulating VAR model
  statsmodels/tsa/vector_ar/tests/test_var.py
  statsmodels/tsa/vector_ar/util.py
  statsmodels/tsa/vector_ar/var_model.py
Labels: comp-tsa, type-enh, comp-tsa-vector-ar

#7943 MAINT: Start removing pytest warns with None
  statsmodels/genmod/tests/test_glm_weights.py
  statsmodels/regression/tests/test_regression.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
Labels: maintenance

#7946 MAINT: Switch to packaging
  requirements.txt
  setup.py
  statsmodels/compat/numpy.py
  statsmodels/compat/pandas.py
  statsmodels/compat/scipy.py
  statsmodels/tools/_testing.py
Labels: maintenance, backport

#7929 ENH/REF: discrete add get_distribution, add which="var" for NBP, GPP
  statsmodels/base/model.py
  statsmodels/discrete/count_model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/distributions/discrete.py
  statsmodels/distributions/tests/test_discrete.py
Labels: type-enh, comp-base, comp-discrete, type-refactor

#7958 ENH: Number of simulations on simualte var
  statsmodels/tsa/vector_ar/tests/test_var.py
  statsmodels/tsa/vector_ar/util.py
  statsmodels/tsa/vector_ar/var_model.py
Labels: type-enh, comp-tsa-vector-ar

#7965 MAINT: Prevent future issues with pytest
  setup.cfg
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/compat/pytest.py
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
  statsmodels/tsa/tests/test_ar.py
  statsmodels/tsa/tests/test_deterministic.py
  statsmodels/tsa/vector_ar/tests/test_var_jmulti.py
  statsmodels/tsa/vector_ar/tests/test_vecm.py
Labels: maintenance

#7969 BUG: Correct incorrect initial trend access
  statsmodels/tsa/holtwinters/model.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
Labels: comp-tsa, type-bug

#7951 ENH: add get_influence to DiscreteResults
  docs/source/pitfalls.rst
  statsmodels/discrete/count_model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/graphics/regressionplots.py
  statsmodels/othermod/betareg.py
  statsmodels/othermod/tests/test_beta.py
  statsmodels/stats/outliers_influence.py
  statsmodels/stats/tests/test_influence.py
Labels: comp-discrete, topic-diagnostic
