Repository statsmodels/statsmodels, pull requests merged in 2021-03, with the labels that each got.

#7364 WIP ENH: add asymmetric kernels for kde and cdf, for unit interval and R+
  docs/source/nonparametric.rst
  statsmodels/nonparametric/kernels_asymmetric.py
  statsmodels/nonparametric/tests/test_asymmetric.py
Labels: comp-nonparametric, type-enh

#7380 BUG: Fix pandas wrapper code
  statsmodels/base/data.py
  statsmodels/tsa/tests/test_ar.py
Labels: backport

#7064 BUG: Ensure summary can print with NaNs
  statsmodels/tsa/holtwinters/results.py
  statsmodels/tsa/holtwinters/tests/test_holtwinters.py
Labels: backport, comp-tsa

#7296 REF: move copula out of sandbox, and refactor, copula directory
  statsmodels/distributions/bernstein.py
  statsmodels/distributions/copula/__init__.py
  statsmodels/distributions/copula/api.py
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/copula/copulas.py
  statsmodels/distributions/copula/depfunc_ev.py
  statsmodels/distributions/copula/elliptical.py
  statsmodels/distributions/copula/extreme_value.py
  statsmodels/distributions/copula/other_copulas.py
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/distributions/copula/transforms.py
  statsmodels/distributions/tests/test_bernstein.py
  statsmodels/distributions/tests/test_copula.py
  statsmodels/distributions/tests/test_tools.py
  statsmodels/distributions/tools.py
  statsmodels/sandbox/distributions/copula.py
Labels: comp-distributions, type-enh
