Repository statsmodels/statsmodels, pull requests merged in 2021-11, with the labels that each got.

#7758 REF/ENH delta method and nonlinear wald test rebased
  statsmodels/base/model.py
  statsmodels/miscmodels/count.py
  statsmodels/stats/_delta_method.py
  statsmodels/stats/tests/test_deltacov.py
Labels: type-enh, comp-base, comp-stats

#7820 MAINT: clean up usage of private SciPy APIs as much as possible
  statsmodels/sandbox/distributions/extras.py
  statsmodels/sandbox/examples/example_maxent.py
  statsmodels/sandbox/tsa/try_var_convolve.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/filters/filtertools.py
  statsmodels/tsa/holtwinters/results.py
  statsmodels/tsa/vector_ar/util.py
Labels: maintenance, backport

#7843 BUG: GLM score_test, use correct df_resid
  statsmodels/base/_parameter_inference.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_score_test.py
Labels: type-bug, comp-genmod, comp-stats

#7844 MAINT: Protect against future pandas changes
  statsmodels/compat/pandas.py
  statsmodels/regression/rolling.py
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/ardl/model.py
Labels: maintenance, backport

#7842 MAINT: Deprecate cols in conf_int
  statsmodels/base/model.py
Labels: comp-base, maintenance, backport

#7854 BACKPORT: Merge pull request #7820 from rgommers/scipy-imports
  statsmodels/sandbox/distributions/extras.py
  statsmodels/sandbox/examples/example_maxent.py
  statsmodels/sandbox/tsa/try_var_convolve.py
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/filters/filtertools.py
  statsmodels/tsa/holtwinters/results.py
  statsmodels/tsa/vector_ar/util.py
Labels: maintenance

#7855 BACKPORT Merge pull request #7844 from bashtage/future-pandas
  statsmodels/compat/pandas.py
  statsmodels/regression/rolling.py
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/ardl/model.py
Labels: maintenance

#7857 BACKPORT: Merge pull request #7816 from tncowart/unalias_links
  statsmodels/genmod/families/family.py
  statsmodels/genmod/families/tests/test_family.py
Labels: maintenance

#7858 BACKPORT: Merge pull request #7832 from larsoner/dep
  statsmodels/tools/numdiff.py
Labels: maintenance

#7874 ENH: Start move to scalar test statistics
  setup.cfg
  statsmodels/base/model.py
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/gam/tests/test_penalized.py
  statsmodels/genmod/tests/test_constrained.py
  statsmodels/genmod/tests/test_score_test.py
  statsmodels/sandbox/regression/tests/test_gmm.py
  statsmodels/stats/diagnostic.py
  statsmodels/stats/tests/test_diagnostic.py
  statsmodels/stats/tests/test_oneway.py
  statsmodels/stats/tests/test_outliers_influence.py
  statsmodels/tools/_testing.py
  statsmodels/tsa/tests/test_ar.py
Labels: type-enh, comp-base

#7881 RLS: Release 0.13.1 documentation
  docs/source/release/index.rst
  docs/source/release/version0.13.1.rst
  tools/releasing/release_note.py
Labels: comp-docs

#7890 DOC: Issue #7889
  examples/notebooks/ols.ipynb
Labels: comp-docs

#7870 ENH/REF generic get_prediction
  statsmodels/base/_prediction_inference.py
  statsmodels/discrete/count_model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/results/results_predict.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/genmod/_prediction.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/regression/_prediction.py
  statsmodels/regression/tests/test_predict.py
  statsmodels/stats/_delta_method.py
  statsmodels/stats/outliers_influence.py
Labels: type-enh, comp-base, comp-genmod, comp-discrete, type-refactor, topic-predict

#7895 REF/ENH: add CountResults.get_diagnostic
  statsmodels/discrete/diagnostic.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_predict.py
Labels: type-enh, comp-discrete, topic-diagnostic

#7904 MAINT: Silence warning
  setup.cfg
  statsmodels/regression/tests/test_regression.py
  statsmodels/regression/tests/test_rolling.py
Labels: maintenance

#7900 ENH/BUG: get_prediction for more models and cases
  statsmodels/base/_prediction_inference.py
  statsmodels/base/model.py
  statsmodels/discrete/count_model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/othermod/betareg.py
  statsmodels/othermod/tests/test_beta.py
Labels: type-enh, comp-base, comp-discrete, backwards-incompat, topic-predict, comp-othermod

#7906 BUG: Correct seasonal order
  statsmodels/tsa/exponential_smoothing/ets.py
  statsmodels/tsa/statespace/exponential_smoothing.py
  statsmodels/tsa/tests/test_exponential_smoothing.py
Labels: type-bug-wrong, backport, comp-tsa-statespace

#7907 ENH/REF: Scoretest betareg
  statsmodels/base/_parameter_inference.py
  statsmodels/base/model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/othermod/betareg.py
  statsmodels/othermod/tests/test_beta.py
Labels: type-enh, comp-base, backwards-incompat, comp-othermod

#7914 MAINT: Remove Future and Deprecation warnings
  statsmodels/compat/numpy.py
  statsmodels/compat/pandas.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_constrained.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/graphics/functional.py
  statsmodels/multivariate/tests/test_factor.py
  statsmodels/stats/_diagnostic_other.py
  statsmodels/tools/tests/test_grouputils.py
  statsmodels/tsa/tests/test_deterministic.py
Labels: maintenance
