Repository statsmodels/statsmodels, pull requests merged in 2022-11, with the labels that each got.

#8494 DOC: fix docstrings
  docs/source/stats.rst
  docs/source/treatment.rst
  statsmodels/stats/proportion.py
  statsmodels/stats/rates.py
  statsmodels/stats/robust_compare.py
  statsmodels/treatment/treatment_effects.py
Labels: comp-docs, comp-stats

#8502 REF/DOC Poisson diagnostic
  examples/notebooks/postestimation_poisson.ipynb
  statsmodels/discrete/_diagnostics_count.py
  statsmodels/discrete/diagnostic.py
  statsmodels/discrete/tests/test_diagnostic.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/genmod/tests/test_score_test.py
  statsmodels/stats/_diagnostic_other.py
  statsmodels/treatment/treatment_effects.py
Labels: comp-discrete, comp-stats, type-refactor, topic-diagnostic

#8505 REF/ENH: GLM predict which and get_prediction
  statsmodels/base/_prediction_inference.py
  statsmodels/discrete/discrete_model.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/genmod/tests/test_glm_weights.py
Labels: type-enh, comp-genmod, type-refactor

#8155 ENH: Adding logc link
  docs/source/glm.rst
  statsmodels/genmod/families/family.py
  statsmodels/genmod/families/links.py
  statsmodels/genmod/families/tests/test_link.py
Labels: type-enh, comp-genmod, prio-elev

#7777 Update proportion.py
  statsmodels/stats/proportion.py
Labels: comp-docs, comp-stats

#3183 WIP ENH: robust add MQuantileNorm
  statsmodels/robust/norms.py
  statsmodels/robust/tests/test_mquantiles.py
Labels: type-enh, comp-regression, comp-robust

#8504 add parameter allow_singular for gaussian copula
  statsmodels/distributions/copula/elliptical.py
Labels: comp-distributions, type-enh

#8544 BUG: normal_sample_size_one_tail, fix std_alt default, minimum nobs
  statsmodels/stats/power.py
  statsmodels/stats/tests/test_power.py
Labels: type-bug, comp-stats

#8545 ENH: Nelder-Mead and Powell has bounds in scipy
  statsmodels/base/optimizer.py
  statsmodels/base/tests/test_optimize.py
  statsmodels/compat/scipy.py
Labels: type-enh, comp-base

#8546 STY: lint, pep-8 of empirical distribution, remove `__main__`
  lint.sh
  statsmodels/distributions/empirical_distribution.py
  statsmodels/distributions/tests/test_ecdf.py
Labels: comp-distributions, type-cleanup
