Repository statsmodels/statsmodels, pull requests merged in 2022-06, with the labels that each got.

#8305 ENH: Add method and converged attributes to DiscreteModel.
  statsmodels/discrete/discrete_model.py
Labels: type-enh, comp-discrete

#8308 BUG: Avoid removing directories from path in x13
  .github/workflows/backport.yml
  .travis.yml
  appveyor.yml.bak
  statsmodels/tsa/x13.py
  tools/ci/appveyor_conda.bat
  tools/ci/appveyor_pip.bat
  tools/ci/travis_conda.sh
  tools/ci/travis_pip.sh
Labels: comp-tsa, type-bug

#8166 ENH: hypothesis tests, confint, power for rates (poisson, negbin)
  docs/source/stats.rst
  statsmodels/stats/_inference_tools.py
  statsmodels/stats/rates.py
  statsmodels/stats/tests/test_rates_poisson.py
Labels: type-enh, comp-stats

#8320 MAINT: Remove pandas warning from pytest errors
  setup.cfg
  statsmodels/stats/descriptivestats.py
Labels: maintenance

#8324 ENH/DOC fixes in docs, missing in stats.api fpr rates
  docs/source/stats.rst
  statsmodels/stats/api.py
  statsmodels/stats/proportion.py
  statsmodels/stats/rates.py
Labels: type-enh, comp-docs, comp-stats

#8034 ENH: Treatment effect rebased
  docs/source/treatment.rst
  docs/source/user-guide.rst
  statsmodels/stats/contrast.py
  statsmodels/treatment/__init__.py
  statsmodels/treatment/tests/__init__.py
  statsmodels/treatment/tests/results/__init__.py
  statsmodels/treatment/tests/results/cataneo2.csv
  statsmodels/treatment/tests/results/results_teffects.py
  statsmodels/treatment/tests/test_teffects.py
  statsmodels/treatment/treatment_effects.py
Labels: type-enh, comp-treatment

#8333 BUG/ENH: fix max in tost_proportions_2indep, vectorize tost
  statsmodels/stats/nonparametric.py
  statsmodels/stats/proportion.py
  statsmodels/stats/rates.py
  statsmodels/stats/tests/test_nonparametric.py
  statsmodels/stats/tests/test_proportion.py
  statsmodels/stats/tests/test_rates_poisson.py
Labels: type-enh, comp-stats, type-bug-wrong
