Repository statsmodels/statsmodels, pull requests merged in 2022-10, with the labels that each got.

#8420 DOC: add notebook for Poisson post-estimation overview
  docs/source/_static/images/post_estimation.png
  docs/source/examples/landing.yml
  examples/notebooks/postestimation_poisson.ipynb
Labels: comp-base, comp-discrete, Documentation

#8433 Maint: use pandas loc in contrasts notebook
  docs/source/contrasts.rst
  examples/notebooks/contrasts.ipynb
Labels: comp-docs, maintenance

#8434 MAINT: Fix future warnings
  pyproject.toml
  requirements.txt
  statsmodels/compat/scipy.py
  statsmodels/graphics/factorplots.py
  statsmodels/regression/tests/test_regression.py
  statsmodels/sandbox/predict_functional.py
  statsmodels/stats/contingency_tables.py
  statsmodels/stats/descriptivestats.py
  statsmodels/stats/mediation.py
  statsmodels/tools/tests/test_grouputils.py
Labels: maintenance

#8424 DOC: add notebook for hurdle count model
  docs/source/_static/images/count_hurdle.png
  docs/source/discretemod.rst
  docs/source/examples/landing.yml
  examples/notebooks/count_hurdle.ipynb
  statsmodels/discrete/truncated_model.py
Labels: comp-docs, comp-discrete

#8427 DOC: Notebook rankcompare
  docs/source/_static/images/rank_compare.png
  docs/source/examples/landing.yml
  examples/notebooks/stats_rankcompare.ipynb
  statsmodels/stats/nonparametric.py
Labels: type-enh, comp-docs, comp-stats

#8418 DOC: add notebook for treatment effect
  docs/source/_static/images/treatment_effect.png
  docs/source/examples/landing.yml
  examples/notebooks/treatment_effect.ipynb
Labels: comp-docs, comp-treatment

#8412 DOC: add notebook for stats poisson rates
  docs/source/_static/images/stats_poisson.png
  docs/source/examples/landing.yml
  examples/notebooks/stats_poisson.ipynb
Labels: comp-docs, comp-stats

#8484 MAINT: Backport Python 3.11 to 0.13.x branch
  .github/workflows/generate-documentation.yml
  docs/source/dev/test_notes.rst
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  setup.py
  statsmodels/regression/linear_model.py
  statsmodels/sandbox/distributions/tests/test_multivariate.py
  statsmodels/stats/tests/test_effectsize.py
  statsmodels/stats/tests/test_sandwich.py
  tools/ci/azure/azure_template_posix.yml
  tools/ci/azure/azure_template_windows.yml
  tools/ci/azure/install-posix.sh
Labels: maintenance

#8476 BUG: GenericLikelihood Results hasattr for df_resid is always true, s…
  statsmodels/base/model.py
  statsmodels/distributions/discrete.py
  statsmodels/distributions/tests/test_discrete.py
  statsmodels/miscmodels/count.py
  statsmodels/miscmodels/ordinal_model.py
  statsmodels/miscmodels/tests/test_generic_mle.py
  statsmodels/miscmodels/tests/test_poisson.py
  statsmodels/miscmodels/tests/test_tmodel.py
  statsmodels/miscmodels/tmodel.py
  statsmodels/othermod/betareg.py
Labels: type-bug, comp-base, backwards-incompat
