Repository statsmodels/statsmodels, pull requests merged in 2022-03, with the labels that each got.

#8161 BUG: Ensure pinv_wexog is available
  statsmodels/regression/linear_model.py
  statsmodels/regression/tests/test_robustcov.py
Labels: type-bug, comp-regression

#8154 BUG: Allows arrays in porportions
  statsmodels/stats/proportion.py
  statsmodels/stats/tests/test_proportion.py
Labels: type-bug, type-enh, comp-stats

#8160 ENH: Add MSTL algorithm for multi-seasonal time series decomposition
  docs/source/_static/images/mstl_decomposition.png
  docs/source/examples/landing.yml
  examples/notebooks/mstl_decomposition.ipynb
  setup.py
  statsmodels/tsa/seasonal.py
  statsmodels/tsa/stl/__init__.py
  statsmodels/tsa/stl/_stl.pyx
  statsmodels/tsa/stl/mstl.py
  statsmodels/tsa/tests/results/mstl_elec_vic.csv
  statsmodels/tsa/tests/results/mstl_test_results.csv
  statsmodels/tsa/tests/test_mstl.py
Labels: comp-tsa, type-enh

#8181 MAINT: Correct linting
  lint.sh
Labels: maintenance
