Repository statsmodels/statsmodels, pull requests merged in 2022-01, with the labels that each got.

#7986 MAINT: Remove DataFrame.append usage
  pyproject.toml
  statsmodels/base/_prediction_inference.py
  statsmodels/discrete/count_model.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/imputation/ros.py
  statsmodels/stats/tests/test_anova_rm.py
  statsmodels/tsa/vector_ar/tests/test_var.py
Labels: maintenance, Documentation

#7989 MAINT: Simplify pyproject using oldest supported numpy
  pyproject.toml
Labels: build, maintenance

#7995 MAINT: Remove aliasing of type punned pointers
  statsmodels/src/math.pxd
Labels: maintenance, comp-tsa-statespace

#7997 MAINT: Update doc builder to Python 3.9
  .github/workflows/generate-documentation.yml
Labels: build, maintenance

#7998 BUG: Correct prop ci
  setup.cfg
  statsmodels/distributions/copula/transforms.py
  statsmodels/distributions/tests/test_bernstein.py
  statsmodels/distributions/tools.py
  statsmodels/stats/proportion.py
  statsmodels/stats/tests/test_proportion.py
  tools/ci/azure/azure_template_posix.yml
Labels: comp-stats, type-bug-wrong

#8000 CLN: Prevent signed and unsigned int comparison
  statsmodels/tsa/statespace/_kalman_filter.pyx.in
  statsmodels/tsa/statespace/_kalman_smoother.pyx.in
  statsmodels/tsa/statespace/_representation.pyx.in
Labels: type-cleanup, comp-tsa-statespace

#7991 BUG/DOC: Fix heuristic and simple initial seasonals in state space ExponentialSmoothing
  statsmodels/tsa/statespace/exponential_smoothing.py
  statsmodels/tsa/statespace/tests/test_exponential_smoothing.py
Labels: type-bug, comp-tsa-statespace

#8002 ENH: Add information set selection (predicted, filtered, smoothed) and "signal" prediction to state space predict
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/tests/test_prediction.py
  statsmodels/tsa/statespace/varmax.py
Labels: type-enh, comp-tsa-statespace

#8006 ENH: Add apply to AutoRegResults
  statsmodels/tools/typing.py
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/tests/test_ar.py
Labels: comp-tsa, type-enh

#8009 ENH: Add append method to AutoRegResults
  statsmodels/tsa/ar_model.py
  statsmodels/tsa/deterministic.py
  statsmodels/tsa/tests/test_ar.py
  statsmodels/tsa/x13.py
Labels: comp-tsa, type-enh

#8013 ENH: function to compute smoothed state weights (observations and prior mean) for state space models
  statsmodels/tsa/statespace/_tools.pxd
  statsmodels/tsa/statespace/_tools.pyx.in
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/tests/test_weights.py
  statsmodels/tsa/statespace/tools.py
Labels: type-enh, comp-tsa-statespace

#8015 DOC: improve some state space docstrings.
  statsmodels/tsa/statespace/mlemodel.py
Labels: comp-docs, comp-tsa-statespace

#8028 ENH: state space: add revisions to news, decomposition of smoothed states/signals
  statsmodels/tsa/statespace/_tools.pyx.in
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/initialization.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/news.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/statespace/tests/test_decompose.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor_mq_frbny_nowcast.py
  statsmodels/tsa/statespace/tests/test_news.py
  statsmodels/tsa/statespace/tests/test_weights.py
  statsmodels/tsa/statespace/tools.py
  statsmodels/tsa/statespace/varmax.py
Labels: type-enh, comp-tsa-statespace

#8030 PERF: state space: improve weights performance
  statsmodels/tsa/statespace/_tools.pyx.in
Labels: type-enh, comp-tsa-statespace

#8038 DOC: Fix missing reference
  docs/source/glm.rst
  statsmodels/tsa/statespace/representation.py
Labels: comp-docs, Documentation

#8037 MAINT: Protect against future pandas changes
  statsmodels/base/tests/test_generic_methods.py
  statsmodels/gam/tests/test_penalized.py
  statsmodels/stats/tests/test_diagnostic.py
  statsmodels/tsa/arima_process.py
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/tests/test_exponential_smoothing.py
  statsmodels/tsa/tests/test_bds.py
Labels: maintenance

#8041 MAINT: Pin numpydoc
  requirements-dev.txt
Labels: maintenance

#8042 DOC: Apply small docstring corrections
  statsmodels/discrete/count_model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/distributions/mixture_rvs.py
  statsmodels/examples/ex_generic_mle_t.py
  statsmodels/examples/ex_generic_mle_tdist.py
  statsmodels/genmod/families/family.py
  statsmodels/graphics/mosaicplot.py
  statsmodels/miscmodels/count.py
  statsmodels/regression/linear_model.py
  statsmodels/robust/scale.py
  statsmodels/sandbox/panel/mixed.py
  statsmodels/tsa/innovations/arma_innovations.py
  statsmodels/tsa/stattools.py
Labels: Documentation

#8065 [maintenance/0.13.x] Merge pull request #8003 from pkaf/ets-loglike-doc
  statsmodels/tsa/exponential_smoothing/ets.py
Labels: maintenance

#8069 [maintenance/0.13.x] Merge pull request #8023 from MichaelChirico/patch-1
  statsmodels/tsa/stattools.py
Labels: maintenance

#8074 MAINT: Correct upstream target
  lint.sh
Labels: maintenance

#8075 [maintenance/0.13.x] Merge pull request #7916 from zprobs/main
  statsmodels/base/covtype.py
Labels: maintenance
