Repository statsmodels/statsmodels, pull requests merged in 2022-12, with the labels that each got.

#8031 ENH/REF/DOC improve hurdle and truncated count models
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_truncated_model.py
  statsmodels/discrete/truncated_model.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/regression/linear_model.py
Labels: type-enh, comp-discrete, type-refactor, prio-elev

#8560 ENH: Tweedie loglike
  statsmodels/genmod/families/family.py
  statsmodels/genmod/families/tests/test_family.py
  statsmodels/genmod/tests/results/res_R_var_weight.py
  statsmodels/genmod/tests/test_glm.py
Labels: type-enh, comp-genmod

#8559 DOC: add to rst docs, fix docstrings
  docs/source/distributions.rst
  docs/source/rlm.rst
  statsmodels/base/_prediction_inference.py
  statsmodels/distributions/copula/elliptical.py
  statsmodels/genmod/families/family.py
  statsmodels/genmod/families/tests/test_family.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/graphics/tests/test_dotplot.py
  statsmodels/regression/tests/test_regression.py
  statsmodels/stats/outliers_influence.py
  statsmodels/stats/proportion.py
  statsmodels/stats/weightstats.py
Labels: comp-docs

#8537 BUG: Dickey Fuller constant values (issue #8471 )
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-enh, corner-case

#8552 REF: PerfectSeparation, warn by default instead of raise, GLM, discrete
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_discrete.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/tools/sm_exceptions.py
Labels: comp-genmod, comp-discrete, type-refactor, backwards-incompat

#8564 ENH: x13.py option for location of temporary files
  statsmodels/tsa/x13.py
Labels: comp-tsa, type-enh

#8567 Ref/ENH misc, smaller fixes or enhancements
  statsmodels/regression/linear_model.py
  statsmodels/stats/gof.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, comp-stats

#8569 REF/TST: glm links
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/discrete/tests/test_truncated_model.py
  statsmodels/genmod/families/family.py
  statsmodels/genmod/families/links.py
  statsmodels/genmod/families/tests/test_family.py
  statsmodels/genmod/families/tests/test_link.py
  statsmodels/genmod/generalized_estimating_equations.py
  statsmodels/genmod/tests/test_gee_glm.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/genmod/tests/test_glm_weights.py
Labels: type-enh, comp-genmod, type-refactor

#8593 DOC: fix docstring typo in rank_compare_2indep
  statsmodels/stats/nonparametric.py
Labels: comp-docs
