Repository statsmodels/statsmodels, pull requests merged in 2022-08, with the labels that each got.

#8354 BUG/ENH: Fix sim smoother nan, dims / add options
  statsmodels/tsa/statespace/_filters/_conventional.pyx.in
  statsmodels/tsa/statespace/_representation.pxd
  statsmodels/tsa/statespace/_simulation_smoother.pxd
  statsmodels/tsa/statespace/_simulation_smoother.pyx.in
  statsmodels/tsa/statespace/_smoothers/_conventional.pyx.in
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/simulation_smoother.py
  statsmodels/tsa/statespace/tests/test_collapsed.py
  statsmodels/tsa/statespace/tests/test_multivariate_switch_univariate.py
  statsmodels/tsa/statespace/tests/test_simulation_smoothing.py
  statsmodels/tsa/statespace/tests/test_smoothing.py
  statsmodels/tsa/statespace/tests/test_univariate.py
Labels: type-enh, type-bug-wrong, comp-tsa-statespace

#8355 BUG: ETS loglike indexing bug when y_hat == 0
  statsmodels/tsa/exponential_smoothing/ets.py
Labels: comp-tsa, type-bug

#8378 BUG: Ensure x_columns is a list
  statsmodels/regression/tests/test_regression.py
  statsmodels/tsa/tests/test_tsa_tools.py
  statsmodels/tsa/tsatools.py
Labels: comp-tsa, type-bug

#8386 Fix typo in documentation
  statsmodels/miscmodels/ordinal_model.py
Labels: comp-docs
