Repository statsmodels/statsmodels, pull requests merged in 2023-04, with the labels that each got.

#8735 BUG: a few more small bug fixes
  statsmodels/base/model.py
  statsmodels/base/optimizer.py
  statsmodels/discrete/count_model.py
  statsmodels/discrete/truncated_model.py
  statsmodels/multivariate/manova.py
  statsmodels/multivariate/multivariate_ols.py
  statsmodels/multivariate/tests/test_manova.py
Labels: type-bug

#8777 MAINT/TST unit test failures, compatibility changes
  statsmodels/formula/tests/test_formula.py
  statsmodels/iolib/tests/test_table.py
  statsmodels/tools/rootfinding.py
  statsmodels/tools/tests/test_rootfinding.py
  statsmodels/tsa/tests/test_deterministic.py
Labels: type-test, maintenance

#8780 REF: get_distribution, return 1-d instead of column frozen distribution
  statsmodels/discrete/count_model.py
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_conditional.py
  statsmodels/discrete/tests/test_predict.py
  statsmodels/discrete/truncated_model.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/othermod/betareg.py
  statsmodels/othermod/tests/test_beta.py
  statsmodels/tools/numdiff.py
Labels: comp-discrete, type-refactor

#8801 BUG: fix robust.norm.Hampel
  statsmodels/robust/norms.py
  statsmodels/robust/tests/results/results_norms.py
  statsmodels/robust/tests/test_norms.py
Labels: type-bug, comp-robust

#8799 DOC: Merge existing highlights
  docs/source/release/version0.14.rst
Labels: comp-docs

#8810 ENH/BUG: statespace: issue FutureWarning for unknown keyword args
  statsmodels/regression/recursive_ls.py
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/exponential_smoothing.py
  statsmodels/tsa/statespace/kalman_filter.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/representation.py
  statsmodels/tsa/statespace/tests/test_fixed_params.py
  statsmodels/tsa/statespace/tests/test_mlemodel.py
Labels: comp-tsa, comp-tsa-statespace

#8820 MAINT: Fix lowess Cython to handle read-only
  statsmodels/nonparametric/_smoothers_lowess.pyx
  statsmodels/nonparametric/tests/test_kde.py
  statsmodels/nonparametric/tests/test_lowess.py
Labels: comp-nonparametric

#8822 MAINT: numpy compat, indexed assignment shape in NegativeBinomial
  statsmodels/discrete/discrete_model.py
Labels: comp-discrete, maintenance

#8823 Maint: remove deprecated np.alltrue and np.product
  statsmodels/distributions/bernstein.py
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/tests/test_tools.py
  statsmodels/distributions/tools.py
  statsmodels/robust/scale.py
Labels: maintenance

#8826 MAINT/DOC: Fix more deprecations and restore doc build
  docs/source/contingency_tables.rst
  docs/source/plots/stl_plot.py
  docs/source/treatment.rst
  requirements-doc.txt
  setup.cfg
  statsmodels/datasets/danish_data/data.py
  statsmodels/distributions/copula/archimedean.py
  statsmodels/emplike/originregress.py
  statsmodels/genmod/families/tests/test_family.py
  statsmodels/sandbox/distributions/extras.py
  statsmodels/sandbox/distributions/tests/test_transf.py
Labels: comp-docs, maintenance

#8834 MAINT: Switch DeprecationWarn to FutureWarn
  statsmodels/discrete/discrete_model.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/genmod/tests/test_glm.py
  statsmodels/sandbox/stats/runs.py
  statsmodels/stats/_diagnostic_other.py
  statsmodels/stats/outliers_influence.py
  statsmodels/stats/rates.py
  statsmodels/stats/tests/test_nonparametric.py
  statsmodels/stats/tests/test_rates_poisson.py
  statsmodels/tsa/base/tsa_model.py
  statsmodels/tsa/statespace/simulation_smoother.py
  statsmodels/tsa/statespace/tests/test_simulation_smoothing.py
Labels: maintenance

#8402 DOC: Improvements to linear regression diagnostics example
  examples/notebooks/linear_regression_diagnostics_plots.ipynb
Labels: comp-docs

#8335 Update data.py
  statsmodels/tools/data.py
Labels: comp-tools

#8839 DOC: Final changes for 0.14.0rc0 notes
  docs/source/release/version0.14.rst
Labels: comp-docs
