Repository statsmodels/statsmodels, pull requests merged in 2023-08, with the labels that each got.

#8963 DOC: Fix inclusion of plots
  statsmodels/graphics/correlation.py
  statsmodels/graphics/plot_grids.py
Labels: comp-docs, comp-graphics

#8959 ENH: 2-sample z-test unequal variances case
  statsmodels/stats/tests/test_weightstats.py
  statsmodels/stats/weightstats.py
Labels: type-enh, comp-stats, prio-elev

#8946 DOC: correct signature of `CopulaDistribution`
  statsmodels/distributions/copula/copulas.py
Labels: comp-distributions, comp-docs
