Repository statsmodels/statsmodels, pull requests merged in 2023-02, with the labels that each got.

#8642 ENH/TST: archimedean rvs for k_dim>2, test/gof tools
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/copula/copulas.py
  statsmodels/distributions/copula/elliptical.py
  statsmodels/distributions/copula/extreme_value.py
  statsmodels/distributions/copula/tests/test_copula.py
  statsmodels/distributions/tools.py
Labels: comp-distributions, type-enh

#8656 ENH/BUG: add FTestPowerF2 as corrected version of FTestPower
  statsmodels/stats/oneway.py
  statsmodels/stats/power.py
  statsmodels/stats/tests/test_power.py
Labels: type-bug, comp-stats

#8662 BUG/ENH: correct tau for small theta in FrankCopula
  statsmodels/distributions/copula/archimedean.py
  statsmodels/distributions/copula/tests/test_copula.py
Labels: type-bug

#8658 ENH/TST: Possibility of not printing r-squared in summary_col
  statsmodels/iolib/summary2.py
  statsmodels/iolib/tests/test_summary2.py
Labels: type-enh, comp-io

#8674 BUG: MNLogit if endog is series with no name
  statsmodels/discrete/discrete_model.py
  statsmodels/discrete/tests/test_discrete.py
Labels: type-bug, comp-discrete

#8693 TST: readd deleted test_package.py
  statsmodels/tests/test_package.py
Labels: type-test

#8702 BUG/DOC: doc fixes, bugs in proportion
  statsmodels/regression/linear_model.py
  statsmodels/stats/proportion.py
  statsmodels/stats/tests/test_proportion.py
Labels: type-bug, comp-docs, comp-stats, type-refactor
