Repository statsmodels/statsmodels, pull requests merged in 2023-06, with the labels that each got.

#8907 BUG: mnlogit wald tests, ravel, string cov_names
  statsmodels/base/model.py
  statsmodels/discrete/tests/test_discrete.py
Labels: type-bug, comp-base, comp-discrete, type-bug-wrong, backport

#8889 ENH: add get_margeff to GLM
  statsmodels/discrete/tests/test_sandwich_cov.py
  statsmodels/genmod/generalized_linear_model.py
  statsmodels/stats/_delta_method.py
Labels: type-enh, comp-genmod

#8900 DOC: correct typo in WLS.loglike docstring
  statsmodels/regression/linear_model.py
Labels: comp-docs, comp-regression

#8782 ENH/TST: ccf to optionally return confidence intervals
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/results/results_ccf.csv
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-enh

#8939 MAINT: Update nightly location
  tools/ci/azure/install-posix.sh
Labels: maintenance

#8937 ENH/PERF: faster computation of revision impacts
  statsmodels/tsa/statespace/_tools.pyx.in
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/kalman_smoother.py
  statsmodels/tsa/statespace/mlemodel.py
  statsmodels/tsa/statespace/news.py
  statsmodels/tsa/statespace/tests/test_news.py
  statsmodels/tsa/statespace/tests/test_weights.py
  statsmodels/tsa/statespace/tools.py
  statsmodels/tsa/statespace/varmax.py
Labels: type-enh, Performance, comp-tsa-statespace
