Repository statsmodels/statsmodels, pull requests merged in 2024-10, with the labels that each got.

#9230 DOC: Improve docs of `regression_diagnostics.html`, `stats.html`, `summary`
  docs/source/stats.rst
  examples/notebooks/regression_diagnostics.ipynb
  statsmodels/regression/linear_model.py
Labels: comp-docs, comp-stats

#9391 DOC: Imroves docs for exponentialsmoothing and other places
  docs/source/about.rst
  docs/source/dev/index.rst
  docs/source/install.rst
  docs/source/plots/mstl_plot.py
  docs/source/plots/stl_plot.py
  docs/source/release/index.rst
  docs/source/release/version0.14.3.rst
  docs/source/release/version0.14.4.rst
  docs/source/release/version0.6.rst
  docs/source/version_info/versions-v3.json
  statsmodels/graphics/plot_grids.py
  statsmodels/tsa/arima/model.py
  statsmodels/tsa/holtwinters/model.py
Labels: comp-tsa, comp-docs, Documentation

#9394 BUG: Correct x and y label location in qqplot_2sample
  statsmodels/graphics/gofplots.py
  statsmodels/graphics/tests/test_gofplots.py
Labels: type-bug, comp-graphics

#9395 MAINT: Replace deprecated Pandas append with concat in dynamic_factor_mq
  statsmodels/tsa/statespace/dynamic_factor_mq.py
  statsmodels/tsa/statespace/tests/test_dynamic_factor_mq.py
Labels: maintenance, comp-tsa-statespace

#9398 BUG: Ensure hessian is skipped
  statsmodels/discrete/conditional_models.py
  statsmodels/discrete/tests/test_conditional.py
Labels: type-bug, comp-discrete

#9399 ENH: Add leybourne-mccabe test
  docs/source/api.rst
  docs/source/tsa.rst
  setup.cfg
  statsmodels/tsa/_leybourne.py
  statsmodels/tsa/api.py
  statsmodels/tsa/stattools.py
  statsmodels/tsa/tests/results/BAA.csv
  statsmodels/tsa/tests/results/DBAA.csv
  statsmodels/tsa/tests/results/DSP500.csv
  statsmodels/tsa/tests/results/DUN.csv
  statsmodels/tsa/tests/results/SP500.csv
  statsmodels/tsa/tests/results/UN.csv
  statsmodels/tsa/tests/test_stattools.py
Labels: comp-tsa, type-enh

#9407 ENH: more reliable casting of pandas data
  statsmodels/base/data.py
  statsmodels/base/tests/test_data.py
Labels: type-enh, comp-base
